<%= form_for(@power) do |f| %>
  <% if @power.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@power.errors.count, "error") %> No se pudo salvar:</h2>

      <ul>
      <% @power.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container large-padding be-round_ligth_gray">
    <%= render partial:'layouts/dd', locals:{:f => f} %>
    <div class="row">
      <div class="col-xs col-md-2">
        <%= f.label :Inventario %><br>
        <%= f.text_field :ninventary, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Serie %><br>
        <%= f.text_field :nserie, class:'form-control smfont ups' %>
      </div>
      <div class="col-xs col-md-3">
        <%= f.label :Marca %><br>
        <%= f.select :brand, BrandModel.select(:brandx).where(description:"REGULADOR/UPS").uniq.pluck(:brandx),
        {:include_blank => true }, {class:'btn  btn-default dropdown-toggle smfont brands4ups'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Modelo %><br>
        <%= f.collection_select(:model, BrandModel.where(description:"REGULADOR/UPS"), :modelx, :modelx, 
        {:include_blank => true }, {class:'btn  btn-default dropdown-toggle smfont models4ups'} ) %>
      </div>
      <div class="col-xs-4 col-md-3">
        <%= f.label :Factura %><br>
        <%= f.text_field :nfactura, class:'form-control smfont' %>
      </div>
      <div class="col-xs-1">
        <%= f.label :Bateria? %><br>
        <%= f.check_box :no_break %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-2">
        <%= f.label :Compra %><br>
        <%= f.text_field :buy_date, class:'form-control smfont fechax txtdate' %>
        <%#= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]}, 
        {class:'btn  btn-default dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs col-md-4">
        <%= f.label :Notas %><br>
        <%= f.text_area :notes, size:"40x2", class:'form-control smfont ups' %>
      </div>
    </div>
    <div class="row">
      <br>
      <div class='col-xs-4 col-md-4'>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
