<%= form_for(@power) do |f| %>
  <% if @power.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@power.errors.count, "error") %> No se pudo salvar:</h2>

      <ul>
      <% @power.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <%= f.label :Inventario %><br>
          <%= f.text_field :ninventary %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Serie %><br>
          <%= f.text_field :nserie %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Marca %><br>
          <%= f.select :brand, [['ISB Sola Basic'], ['TDE NET']], {include_blank: true} %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Modelo %><br>
          <%= f.select :model, [['XRN-21-801'], ['DN-21-132']], {include_blank: true} %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Factura %><br>
          <%= f.text_field :nfactura %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Fecha_Compra %><br>
          <%= f.date_select :buy_date %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <%= f.label :Bateria? %><br>
          <%= f.check_box :no_break %>
        </div>
        <div class="box">
          <%= f.label :Notas %><br>
          <%= f.text_area :notes, size:"40x6" %>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="box">
          <%= f.label :Dependencia %><br>
          <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}) %>
        </div>
      </div>
    </div>
    <div class="row large-padding">
      <div class="col-xs">
        <div class="box">
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
