<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado de UPS / REGULADORES</h1>
</div>
<div class="container-fluid">
  <div class="table-responsive no-margins">
    <table class="table table-hover table-striped">
      <thead>
        <th>Inventario</th>
        <th>Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>UPS</th>
        <th>Dependencia</th>
        <th></th>
      </thead>
      <tbody>
        <% @powers.each do |power| %>
          <tr>
            <td> <%= power.ninventary %></td>
            <td> <%= power.nserie %></td>
            <td> <%= power.brand %></td>
            <td> <%= power.model %></td>
            <td> <%= "SI" if power.no_break %></td>
            <td> <%= power.Dependency.name if power.Dependency %></td>
            <td>
              <%= link_to 'Mostrar', power, class:'btn btn-default  btn-sm' %>
              <%= link_to 'Editar', edit_power_path(power), class:'btn btn-default  btn-sm' %>
              <%= link_to 'Borrar', power, method: :delete, data: { confirm: 'Esta usted seguro?' }, 
                class:'btn btn-default  btn-sm' %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
  <%= will_paginate @powers %>
  <br>
  <%= link_to 'Agregar', new_power_path, class:'btn btn-default  btn-sm' %>
