<p id="notice"><%= notice %></p>

<p>
  <strong>Numero de Inventario:</strong>
  <%= @power.ninventary %>
</p>

<p>
  <strong>Numero de Serie:</strong>
  <%= @power.nserie %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @power.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @power.model %>
</p>

<p>
  <strong>ID factura:</strong>
  <%= @power.nfactura %>
</p>

<p>
  <strong>Fecha compra:</strong>
  <%= @power.buy_date %>
</p>

<p>
  <strong>Bateria incluida:</strong>
  <%= @power.no_break %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @power.notes %>
</p>

<p>
  <strong>Dependency:</strong>
  <%= @power.Dependency.name %>
</p>

<%= link_to 'Editar', edit_power_path(@power) %> |
<%= link_to 'Regresar', powers_path %>
