<p id="notice"><%= notice %></p>

<p>
  <strong>Ninventary:</strong>
  <%= @power.ninventary %>
</p>

<p>
  <strong>Nserie:</strong>
  <%= @power.nserie %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @power.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @power.model %>
</p>

<p>
  <strong>Nfactura:</strong>
  <%= @power.nfactura %>
</p>

<p>
  <strong>Buy date:</strong>
  <%= @power.buy_date %>
</p>

<p>
  <strong>No break:</strong>
  <%= @power.no_break %>
</p>

<p>
  <strong>Operational:</strong>
  <%= @power.operational %>
</p>

<p>
  <strong>Reazon:</strong>
  <%= @power.reazon %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @power.notes %>
</p>

<p>
  <strong>Dependency:</strong>
  <%= @power.Dependency %>
</p>

<%= link_to 'Edit', edit_power_path(@power) %> |
<%= link_to 'Back', powers_path %>
