<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Numero de Inventario:</strong>
        <%= @power.ninventary %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Numero de Serie:</strong>
        <%= @power.nserie %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Marca:</strong>
        <%= @power.brand %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Modelo:</strong>
        <%= @power.model %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>ID factura:</strong>
        <%= @power.nfactura %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Fecha compra:</strong>
        <%= @power.buy_date %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Bateria incluida:</strong>
        <%="SI" if @power.no_break %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Notas:</strong>
        <%= @power.notes %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Dependency:</strong>
        <%= @power.Dependency.name %>
      </div>
    </div>
  </div>
</div>
<br>
<%= link_to 'Editar', edit_power_path(@power) %> |
<%= link_to 'Regresar', powers_path %>
