<p id="notice"><%= notice %></p>
<div class="container be-gray">
  <div class="row ">
    <div class="col-xs">
      <p><strong>Numero de Inventario:</strong>
      <%= @power.ninventary %></p>
   
      <p><strong>Numero de Serie:</strong>
      <%= @power.nserie %></p>
 
      <p><strong>Marca:</strong>
      <%= @power.brand %></p>
  
      <p><strong>Modelo:</strong>
      <%= @power.model %></p>

      <p><strong>ID factura:</strong>
      <%= @power.nfactura %></p>
 
      <p><strong>Fecha compra:</strong>
      <%= @power.buy_date %></p>

      <p><strong>Bateria incluida:</strong>
      <%="SI" if @power.no_break %></p>

      <p><strong>Notas:</strong>
      <%= @power.notes %></p>

      <p><strong>Dependencia:</strong>
      <%= @power.Dependency.name if @power.Dependency%></p>
    </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @power} %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-right">
        <br>
        <%= link_to 'Editar', edit_power_path(@power), class:'btn btn-default btn-lg' %> |
        <%= link_to 'Regresar', powers_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>