<p id="notice"><%= notice %></p>
<div class="container be-gray">
  <div class="row ">
    <div class="col-xs">
      <strong>Numero de Inventario:</strong>
      <%= @power.ninventary %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Numero de Serie:</strong>
      <%= @power.nserie %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Marca:</strong>
      <%= @power.brand %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Modelo:</strong>
      <%= @power.model %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>ID factura:</strong>
      <%= @power.nfactura %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Fecha compra:</strong>
      <%= @power.buy_date %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Bateria incluida:</strong>
      <%="SI" if @power.no_break %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Notas:</strong>
      <%= @power.notes %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Dependency:</strong>
      <%= @power.Dependency.name if @power.Dependency%>
    </div>
  </div>
</div>
<br>
<%= link_to 'Editar', edit_power_path(@power), class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', powers_path, class:'btn btn-default btn-lg' %>
