<%= bootstrap_form_for(@scanner) do |f| %>
  <% if @scanner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scanner.errors.count, "error") %> No se pudo guardar el escanner:</h2>
      <ul>
        <% @scanner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs col-md-3">
        <%= f.collection_select_with_bootstrap(:Delegation_id, Delegation.all, :id, :name, {:include_blank => true }, 
        {class:'btn btn-default dropdown-toggle delegations_collection', label:'Delegacion'} ) %>
      </div>
      <div class="col-xs col-md-4">
        <%= f.collection_select_with_bootstrap(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
        {class:'btn btn-default dropdown-toggle dependencies_collection', label:'Dependencia'}) %>
      </div>
</div>
    <div class='row'>
      <div class='col-xs col-md-2'>
        <%= f.text_field_with_bootstrap :ninventary, label:'Inventario' %>
      </div>
      <div class='col-xs col-md-2'>
        <%= f.text_field_with_bootstrap :nserie, label:'Serie' %>
      </div>
      <div class='col-xs col-md-2'>
        <%= f.select_with_bootstrap :brand, BrandModel.select(:brandx).where(description:"ESCANER").uniq.pluck(:brandx),
        {:include_blank => true, label:'Marca' }, {class:'btn  btn-default dropdown-toggle smfont brands4scanner'}  %>
      </div>
      <div class='col-xs col-md-2'>
        <%= f.collection_select_with_bootstrap(:model, BrandModel.where(description:"ESCANER"), :modelx, :modelx, 
        {:include_blank => true, label:'Modelo' }, {class:'btn btn-default dropdown-toggle smfont models4scanner'} ) %>
      </div>
      <div class='col-xs col-md-2'>
        <%= f.text_field_with_bootstrap :nfactura, label:'Factura' %>
      </div>
      <div class='col-xs col-md-2'>
        <%= f.text_field_with_bootstrap :buy_date, label:'Fecha_compra', class:'fechax' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs col-md-1'>
        <%= f.check_box_with_bootstrap :net, label:'Network', id:'net' %>
      </div>
      <div class='col-xs col-md-9' id='showNet'>
        <div class='row'>
          <div class='col-xs col-md-3'>
            <%= f.text_field_with_bootstrap :ipnet, label:'IP', placeholder:'000.000.000.000' %>
          </div>
          <div class='col-xs col-md-3'>
            <%= f.text_field_with_bootstrap :masknet, label:'Mascara', placeholder:'255.255.255.255' %>
          </div>
          <div class='col-xs col-md-3'>
            <%= f.text_field_with_bootstrap :netmac, label:'MAC', placeholder:'00-00-00-00-00-00' %>
          </div>
          <div class='col-xs col-md-3'>
            <%= f.collection_select_with_bootstrap(:Network_id, Network.all, :id, :location, 
            {:include_blank => true, label:'Red conectada'}) %>
          </div>
        </div>
      </div>
      <%#= f.check_box_with_bootstrap :operational, label:'Operacional' %>
      <%#= f.text_area_with_bootstrap :reazon, label:'Razon' %>
    </div>
    <div class='row'>
      <div class='col-xs col-md-2'>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
