<p id="notice"><%= notice %></p>
<div class="container be-gray">
  <div class="row">
    <div class="col-xs">
      <p>
        <strong>Ninventary:</strong>
        <%= @scanner.ninventary %>
      </p>
      <p>
        <strong>Nserie:</strong>
        <%= @scanner.nserie %>
      </p>
      <p>
        <strong>Bran:</strong>
        <%= @scanner.brand %>
      </p>
      <p>
        <strong>Model:</strong>
        <%= @scanner.model %>
      </p>
      <p>
        <strong>Nfactura:</strong>
        <%= @scanner.nfactura %>
      </p>
      <p>
        <strong>Buy date:</strong>
        <%= @scanner.buy_date %>
      </p>
      <p>
        <strong>Net:</strong>
        <%= @scanner.net %>
      </p>
      <p>
        <strong>Ipnet:</strong>
        <%= @scanner.ipnet %>
      </p>
      <p>
        <strong>Masknet:</strong>
        <%= @scanner.masknet %>
      </p>
      <p>
        <strong>Netmac:</strong>
        <%= @scanner.netmac %>
      </p>
      <p>
        <strong>Operational:</strong>
        <%= @scanner.operational %>
      </p>
      <p>
        <strong>Reazon:</strong>
        <%= @scanner.reazon %>
      </p>
      <p>
        <strong>Delegation:</strong>
        <%= @scanner.Delegation.name %>
      </p>
      <p>
        <strong>Dependency:</strong>
        <%= @scanner.Dependency.name %>
</p>
      <p>
        <strong>Network:</strong>
        <%= @scanner.Network.location %>
      </p>
     </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @scanner} %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-right">
        <br>
        <%= link_to 'Editar', edit_scanner_path(@scanner), class:'btn btn-default btn-lg' %> |
        <%= link_to 'Regresar', scanners_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>

