<p id="notice"><%= notice %></p>

<p>
  <strong>Ninventary:</strong>
  <%= @scanner.ninventary %>
</p>

<p>
  <strong>Nserie:</strong>
  <%= @scanner.nserie %>
</p>

<p>
  <strong>Bran:</strong>
  <%= @scanner.bran %>
</p>

<p>
  <strong>Model:</strong>
  <%= @scanner.model %>
</p>

<p>
  <strong>Nfactura:</strong>
  <%= @scanner.nfactura %>
</p>

<p>
  <strong>Buy date:</strong>
  <%= @scanner.buy_date %>
</p>

<p>
  <strong>Net:</strong>
  <%= @scanner.net %>
</p>

<p>
  <strong>Ipnet:</strong>
  <%= @scanner.ipnet %>
</p>

<p>
  <strong>Masknet:</strong>
  <%= @scanner.masknet %>
</p>

<p>
  <strong>Netmac:</strong>
  <%= @scanner.netmac %>
</p>

<p>
  <strong>Operational:</strong>
  <%= @scanner.operational %>
</p>

<p>
  <strong>Reazon:</strong>
  <%= @scanner.reazon %>
</p>

<p>
  <strong>Delegation:</strong>
  <%= @scanner.Delegation %>
</p>

<p>
  <strong>Dependency:</strong>
  <%= @scanner.Dependency %>
</p>

<p>
  <strong>Network:</strong>
  <%= @scanner.Network %>
</p>

<%= link_to 'Edit', edit_scanner_path(@scanner) %> |
<%= link_to 'Back', scanners_path %>
