<%= form_for(@brand_model) do |f| %>
  <% if @brand_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand_model.errors.count, "error") %> prohibited this brand_model from being saved:</h2>

      <ul>
      <% @brand_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-xs col-md">
        <%= f.label :Tipo %><br>
        <%= f.select :description, [ ['COMPUTADORA'], ['REGULADOR/UPS'], ['MONITOR'], ['IMPRESORA'], ['COPIADORA'], ['TELEFONO'] ],
         {class:'btn  dropdown-toggle smfont'}, id:"brands", 
         onchange:'

          var e = document.getElementById("brands");
          var strUser = e.options[e.selectedIndex].value;
          
          switch(strUser){
            case "IMPRESORA":
              $("#printer-section").show();
              $("#copier-section").hide();
              $("#ups-section").hide();
              $("#monitor-section").hide();
            break;
            case "COPIADORA":
              $("#printer-section").hide();
              $("#copier-section").show();
              $("#ups-section").hide();
              $("#monitor-section").hide();
            break;
            case "UPS":
              $("#printer-section").hide();
              $("#copier-section").hide();
              $("#ups-section").show();
              $("#monitor-section").hide();
            break;
            case "MONITOR":
              $("#printer-section").hide();
              $("#copier-section").hide();
              $("#ups-section").hide();
              $("#monitor-section").show();
            break;

          }
         
            '
           %>
      </div>
    </div>
  </div>
   <div class="container ">
    <div class="row">
      <div class="col-xs-6 col-md">
        <%= f.label :Marca %><br>
        <%= f.text_field :brandx, class:'form-control smfont' %>
        <%= f.label :Modelo %><br>
        <%= f.text_field :modelx, class:'form-control smfont' %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
