<div class="container-fluid large-padding">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p id="notice"><%= notice %></p>
      <h1>Marcas/Modelos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <span class="pull-left">
        <%= will_paginate(@brand_models) %>
      </span>
    </div>
    <div class="col-xs-6 col-md-6">
      <span class="pull-right">
        <%= link_to 'Agregar', new_brand_model_path, class:'btn btn-default btn-lg ' %>
      </span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs col-md">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Equipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @brand_models.each do |brand_model| %>
            <tr>
              <td><%= brand_model.description %></td>
              <td><%= brand_model.brandx %></td>
              <td><%= brand_model.modelx %></td>
              <td align="right">
                <%= link_to 'Editar', edit_brand_model_path(brand_model), class:'btn btn-default btn-sm' %>
                <%= link_to 'Borrar', brand_model, method: :delete, data: { confirm: 'Esta usted seguro?' }, 
                  class:'btn btn-default btn-sm' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


