<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @brand_model.description %>
</p>

<p>
  <strong>Upsb:</strong>
  <%= @brand_model.upsb %>
</p>

<p>
  <strong>Upsm:</strong>
  <%= @brand_model.upsm %>
</p>

<p>
  <strong>Monitorb:</strong>
  <%= @brand_model.monitorb %>
</p>

<p>
  <strong>Monitorm:</strong>
  <%= @brand_model.monitorm %>
</p>

<p>
  <strong>Copierb:</strong>
  <%= @brand_model.copierb %>
</p>

<p>
  <strong>Copierm:</strong>
  <%= @brand_model.copierm %>
</p>

<p>
  <strong>Printeb:</strong>
  <%= @brand_model.printeb %>
</p>

<p>
  <strong>Printerm:</strong>
  <%= @brand_model.printerm %>
</p>

<%= link_to 'Edit', edit_brand_model_path(@brand_model) %> |
<%= link_to 'Back', brand_models_path %>
