<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @brand_model.description %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @brand_model.brandx %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @brand_model.modelx %>
</p>



<%= link_to 'Editar', edit_brand_model_path(@brand_model), class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', brand_models_path, class:'btn btn-default btn-lg' %>
