<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @brand_model.description %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @brand_model.brandx %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @brand_model.modelx %>
</p>



<%= link_to 'Edit', edit_brand_model_path(@brand_model) %> |
<%= link_to 'Back', brand_models_path %>
