<p id="notice"><%= notice %></p>
<h1>Administracion</h1>
<div class="container">
	<div class="row large-padding ">
		<div class="col-xs-5 col-md-3">
			<%= link_to ' PROCESADORES', processors_path, class:'btn btn-default btn-sm glyphicon glyphicon-hourglass' %>
		</div>
		<div class="col-xs-6 col-md-3">
			<%= link_to ' MARCAS Y MODELOS', brand_models_path, class:'btn btn-default btn-sm glyphicon glyphicon-cog' %>
		</div>
		<div class="col-xs-6 col-md-3">
			<%= link_to ' SISTEMAS OPERATIVOS', osies_path, class:'btn btn-default btn-sm glyphicon glyphicon-wrench'  %>
		</div>
		<div class="col-xs-3 col-md-3">
			<%= link_to ' OFFIMATICA', officevs_path, class:'btn btn-default btn-sm glyphicon glyphicon-book' %>
		</div>
		<div class="col-xs-4 col-md-3">
			<%= link_to ' MEMORIAS', memos_path, class:'btn btn-default btn-sm glyphicon glyphicon-oil' %>
		</div>
		<div class="col-xs-4 col-md-4">
			<%= link_to ' DISCOS DUROS', hardds_path, class:'btn btn-default btn-sm glyphicon glyphicon-hdd' %>
		</div>
		<% ax = ['carlos','mary'] %>
		<% if ax.include?current_user.username  %>
			<div class="col-xs-4 col-md-4">
				<%= link_to ' PROVEEDORES', providers_path, class:'btn btn-default btn-sm glyphicon glyphicon-registration-mark' %>
			</div>
			<div class="col-xs-4 col-md-4">
				<%= link_to ' SERVICIOS ', providers_path, class:'btn btn-default btn-sm glyphicon glyphicon-modal-window' %>
			</div>
		<% end %>
	</div>
</div>

