<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado de Redes</h1>
</div>
<div class="container-fluid">
  <div class="table-responsive no-margins">
    <table class="table table-hover table-striped">
      <thead>
        <th>Tipo de Enlace</th>
        <th>Location</th>
        <th>Rengo Ip</th>
        <th>Ip Router</th>
        <th></th>
      </thead>
      <tbody>
        <% @networks.each do |network| %>
          <tr>
            <td> <%= network.linktype %></td>
            <td> <%= network.location %></td>
            <td> <%= network.iprange %></td>
            <td> <%= network.ip %></td>
            <td>
              <%= link_to 'Mostrar', network, class:'btn btn-default  btn-sm' %>
              <%= link_to 'Editar', edit_network_path(network), class:'btn btn-default  btn-sm' %>
              <%= link_to 'Borrar', network, method: :delete, data: { confirm: 'Esta seguro?' }, class:'btn btn-default  btn-sm' %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @networks %>
<br>
<%= link_to 'Agregar', new_network_path, class:'btn btn-default  btn-sm' %>
