<p id="notice"><%= notice %></p>

<h1>Listing Equipment Logs</h1>

<table>
  <thead>
    <tr>
      <th>Genus</th>
      <th>Key</th>
      <th>Indate</th>
      <th>Diagnosis</th>
      <th>Solution</th>
      <th>Outdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_logs.each do |equipment_log| %>
      <tr>
        <td><%= equipment_log.genus %></td>
        <td><%= equipment_log.key %></td>
        <td><%= equipment_log.inDate %></td>
        <td><%= equipment_log.diagnosis %></td>
        <td><%= equipment_log.solution %></td>
        <td><%= equipment_log.outDate %></td>
        <td><%= link_to 'Show', equipment_log %></td>
        <td><%= link_to 'Edit', edit_equipment_log_path(equipment_log) %></td>
        <td><%= link_to 'Destroy', equipment_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment log', new_equipment_log_path %>
