<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-xs col-md">
      <p>
        <strong>Genus:</strong>
        <%= @equipment_log.genus %>
      </p>

      <p>
        <strong>Key:</strong>
        <%= @equipment_log.key %>
      </p>

      <p>
        <strong>Indate:</strong>
        <%= @equipment_log.inDate %>
      </p>

      <p>
        <strong>Diagnosis:</strong>
        <%= @equipment_log.diagnosis %>
      </p>

      <p>
        <strong>Solution:</strong>
        <%= @equipment_log.solution %>
      </p>

      <p>
        <strong>Outdate:</strong>
        <%= @equipment_log.outDate %>
      </p>
    </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @equipment_log} %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs col-md">
      <span class="pull-right">
        <br>
        <%# if @equipment_log.User_id == @current_user.id %>
        <% if @equipment_log.User_id == @current_user.id %>
          <%= link_to 'Editar', edit_equipment_log_path(@equipment_log), class:'btn btn-default btn-lg' %> |
        <% end %>
        <%= link_to 'Regresar', equipment_logs_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>