<%= form_for(@dependency) do |f| %>
  <% if @dependency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dependency.errors.count, "error") %> la dependencia no pudo ser guardada:</h2>

      <ul>
      <% @dependency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br>
    <%= f.text_field :address %>
    <%= f.select :address, 
    [
      ['Av. Miguel Hidalgo E/Blvd. Constituyentes y Camino al Faro'],
      ['Col. Jacarandas C. Violeta SN'],
      ['Cerrito del Timbre C. Matamoros SN E/Lazaro Cardenas y Niños Heroes']
    ] %>
  </div>
  <div class="field">
    <%= f.label :Telefono %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :Responsable %><br>
    <%= f.text_field :responsable %>
  </div>
  <div class="field">
    <%= f.label :Responsable_email %><br>
    <%= f.text_field :responsable_email %>
  </div>
  <div class="field">
    <%= f.label :Delegacion %><br>
    <%= f.collection_select(:Delegation_id, Delegation.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
