<%= form_for(@dependency, class:"frms") do |f| %>
  <% if @dependency.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@dependency.errors.count, "error") %> la dependencia no pudo ser guardada:</h1>
      <ul>
        <% @dependency.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container large-padding be-round_ligth_gray ">
    <div class="row">
      <div class="col-xs-4 col-md-4">
          <%= f.label :Nombre%><br>
          <%= f.text_field :name, class:'form-control xsfont'  %>
      </div>
      <div class="col-xs-5 col-md-2">
          <%= f.label :Telefono %><br>
          <%= f.text_field :telephone, class:'form-control smfont' %>
      </div>
      <div class="col-xs-4 col-md-3">
          <%= f.label :Responsable_email %><br>
          <%= f.text_field :responsable_email, class:'form-control smfont' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-md-3">
          <%= f.label :Responsable %><br>
          <%= f.text_field :responsable, class:'form-control smfont' %>
      </div>
      <div class="col-xs-1 col-md-2">
          <%= f.label :Delegacion %><br>
          <%= f.collection_select(:Delegation_id, Delegation.all, :id, :name, {include_blank: true}, {class:'btn  dropdown-toggle'}) %>
      </div>
      <div class="col-xs-8 col-md-7">
          <%= f.label :Direccion %><br>
          <%= f.text_field :address, class:'form-control smfont' %>
          <%#= f.select :address, 
          [ ['Av. Miguel Hidalgo E/Blvd. Constituyentes y Camino al Faro'],
            ['Col. Jacarandas C. Violeta SN'],
            ['Cerrito del Timbre C. Matamoros SN E/Lazaro C. y Niños Heroes'] ], {:include_blank => true}, 
            {class:'btn dropdown-toggle'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="pull-left">
          <br>
          <%= f.submit %>
        </span>
      </div>
    </div>
  </div>
<% end %>
