<%= form_for(@dependency) do |f| %>
  <% if @dependency.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@dependency.errors.count, "error") %> la dependencia no pudo ser guardada:</h1>

      <ul>
      <% @dependency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <%= f.label :Nombre %><br>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Direccion %><br>
          <%#= f.text_field :address %>
          <%= f.select :address, 
          [ ['Av. Miguel Hidalgo E/Blvd. Constituyentes y Camino al Faro'],
            ['Col. Jacarandas C. Violeta SN'],
            ['Cerrito del Timbre C. Matamoros SN E/Lazaro Cardenas y Niños Heroes'] ], {:include_blank => true}, {} %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Telefono %><br>
          <%= f.text_field :telephone %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Responsable %><br>
          <%= f.text_field :responsable %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Responsable_email %><br>
          <%= f.text_field :responsable_email %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Delegacion %><br>
          <%= f.collection_select(:Delegation_id, Delegation.all, :id, :name) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <br>
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
