<div class="table-responsive no-margins">
  <table class="table table-hover table-striped">
    <thead>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Responsable</th>
      <th>Correo</th>
      <th>Delegacion</th>
      <th colspan="3"></th>
    </thead>
    <tbody>
      <% @dependencies.each do |dependency| %>
        <tr>
          <td> <%= dependency.name %></td>
          <td> <%= dependency.telephone %></td>
          <td> <%= dependency.responsable %></td>
          <td> <%= dependency.responsable_email %></td>
          <td> <%= dependency.Delegation.name if dependency.Delegation %></td>
          <td align="right">
            <%= link_to dependency, class:'btn btn-default btn-xs' do %>
              <%= octicon 'eye', class:'rigth' %>
            <% end %>
            <%= link_to edit_dependency_path(dependency), class:'btn btn-default btn-xs' do %>
              <%= octicon 'pencil', class:'rigth' %>
            <% end %>
            <%= link_to dependency,method: :delete, data: { confirm: 'esta usted seguro?' }, class:'btn btn-default btn-xs' do %>
              <%= octicon 'trashcan', class:'rigth' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>