<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h2>Listado de Dependencias</h2>

<%= form_tag(dependencies_path, method: "get") do  %>
  <div class="container-fluid ">
    <div class="row">    
      <div class="col-xs-offset-7 col-xs-6 ">
        <div class="box">
          <%= radio_button_tag(:Delegation, 1 ) %>
          <%= label_tag(:delegation_id, "SAN JOSE") %>
          <%= radio_button_tag(:Delegation, 2 ) %>
          <%= label_tag(:delegation_id, "CABO") %>
          <%= radio_button_tag(:Delegation, 3 ) %>
          <%= label_tag(:delegation_id, "SANTIAGO") %>
          <%= radio_button_tag(:Delegation, 4 ) %>
          <%= label_tag(:delegation_id, "LA RIVERA") %>
          <%= submit_tag "MOSTRAR"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="container-fluid">
  <div class="row be-gray">
    <div class="col-xs-2">
      <div class="box">
        <strong>NOMBRE</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>TELEFONO</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>RESPONSABLE</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>EMAIL</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>DELEGACION</strong>
      </div>
    </div>
  </div>
  <% @dependencies.each do |dependency| %>
    <div class="row <%= cycle('be-soft_gray','odd') %>">
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.name %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.telephone %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.responsable %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.responsable_email %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.Delegation.name %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= link_to 'Mostrar', dependency %>
          <%= link_to 'Editar', edit_dependency_path(dependency) %>
          <%= link_to 'Borrar', dependency, method: :delete, data: { confirm: 'esta usted seguro?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= will_paginate @dependencies %>
<br>
<br>
<%#= link_to 'Nueva Dependencia', new_dependency_path %>
<%= button_to 'Agregar dependecia', new_dependency_path, method: :get %>

