<div class="container-fluid no-margins">
  <div class="row be-soft_purple">  
      <div class="col-xs-12">
        <p id="notice"><%= notice %></p>
        <h2>Listado de Dependencias</h2>
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-4">
        <%= form_tag(dependencies_path, method: "get") do  %>  
          <%= radio_button_tag(:Delegation, 1 ) %>
          <%= label_tag(:delegation_id, "SAN JOSE") %>
          <%= radio_button_tag(:Delegation, 2 ) %>
          <%= label_tag(:delegation_id, "CABO") %>
          <%= radio_button_tag(:Delegation, 3 ) %>
          <%= label_tag(:delegation_id, "SANTIAGO") %>
          <%= radio_button_tag(:Delegation, 4 ) %>
          <%= label_tag(:delegation_id, "LA RIVERA") %>
          <%= submit_tag "MOSTRAR", class:'btn btn-default btn-xs' %>
        <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="table-responsive no-margins">
    <table class="table table-hover table-striped">
      <thead>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Responsable</th>
        <th>Correo</th>
        <th>Delegacion</th>
        <th></th>
      </thead>
      <tbody>
        <% @dependencies.each do |dependency| %>
          <tr>
            <td> <%= dependency.name %></td>
            <td> <%= dependency.telephone %></td>
            <td> <%= dependency.responsable %></td>
            <td> <%= dependency.responsable_email %></td>
            <td> <%= dependency.Delegation.name if dependency.Delegation %></td>
            <td>
              <%= link_to 'Mostrar', dependency, class:'btn btn-default  btn-xs' %>
              <%= link_to 'Editar', edit_dependency_path(dependency), class:'btn btn-default  btn-xs' %>
              <%= link_to 'Borrar', dependency, method: :delete, data: { confirm: 'esta usted seguro?' } , 
                class:'btn btn-default btn-xs'%>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @dependencies %>
<br>
<%= link_to 'Agregar', new_dependency_path, class:'btn btn-default btn-xs' %>


