<p id="notice"><%= notice %></p>

<h2>Listado de Dependencias</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <div class="box">
        <strong>NOMBRE</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>TELEFONO</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>RESPONSABLE</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>EMAIL</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>DELEGACION</strong>
      </div>
    </div>
  </div>
  <% @dependencies.each do |dependency| %>
    <div class="row">
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.name %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.telephone %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.responsable %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.responsable_email %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= dependency.Delegation.name %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= link_to 'Mostrar', dependency %>
          <%= link_to 'Editar', edit_dependency_path(dependency) %>
          <%= link_to 'Borrar', dependency, method: :delete, data: { confirm: 'esta usted seguro?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= will_paginate @dependencies %>
<br>
<br>
<%#= link_to 'Nueva Dependencia', new_dependency_path %>
<%= button_to 'Agregar dependecia', new_dependency_path, method: :get %>

