<div class="container-fluid no-margins">
  <div class="row be-soft_purple">  
      <div class="col-xs-12">
        <p id="notice"><%= notice %></p>
        <h2>Listado de Dependencias</h2>
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-4">
        <%= form_tag(dependencies_path, method: "get") do  %>  
          <%= radio_button_tag(:Delegation, 1 ) %>
          <%= label_tag(:delegation_id, "SAN JOSE") %>
          <%= radio_button_tag(:Delegation, 2 ) %>
          <%= label_tag(:delegation_id, "CABO") %>
          <%= radio_button_tag(:Delegation, 3 ) %>
          <%= label_tag(:delegation_id, "SANTIAGO") %>
          <%= radio_button_tag(:Delegation, 4 ) %>
          <%= label_tag(:delegation_id, "LA RIVERA") %>
          <%= submit_tag "MOSTRAR", class:'btn btn-default btn-xs' %>
        <% end %>
    </div>
  </div>
</div>

<div class="container-fluid no-margins">
  <div class="row be-gray">
    <div class="col-xs-2">
      <div class="box">
        <strong>NOMBRE</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>TELEFONO</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>RESPONSABLE</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>EMAIL</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>DELEGACION</strong>
      </div>
    </div>
  </div>
  <% @dependencies.each do |dependency| %>
    <div class="row <%= cycle('be-soft_gray','odd') %>">
      <div class="col-xs-2 smfont">
          <%= dependency.name %>
      </div>
      <div class="col-xs-2 smfont">        
          <%= dependency.telephone %>        
      </div>
      <div class="col-xs-2 smfont">        
          <%= dependency.responsable %>        
      </div>
      <div class="col-xs-2 smfont">        
          <%= dependency.responsable_email %>        
      </div>
      <div class="col-xs-2 smfont">        
          <%= dependency.Delegation.name %>        
      </div>
      <div class="col-xs-2 smfont">       
          <%= link_to 'Mostrar', dependency, class:'btn btn-default  btn-xs' %>
          <%= link_to 'Editar', edit_dependency_path(dependency), class:'btn btn-default  btn-xs' %>
          <%= link_to 'Borrar', dependency, method: :delete, data: { confirm: 'esta usted seguro?' } , class:'btn btn-default btn-xs'%>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= will_paginate @dependencies %>
<br>
<br>
<%= link_to 'Agregar dependecia', new_dependency_path, class:'btn btn-default btn-xs' %>


