<p id="notice"><%= notice %></p>
<div class="container be-gray ">
  <div class="row">
    <div class="col-xs col-md">
        <p><strong>Nombre:</strong>
        <%= @dependency.name %></p>
        <p><strong>Direccion:</strong>
        <%= @dependency.address %></p>
        <p><strong>Telefono:</strong>
        <%= @dependency.telephone %></p>
        <p><strong>Responsable:</strong>
        <%= @dependency.responsable %></p>
        <p><strong>Responsable email:</strong>
        <%= @dependency.responsable_email %></p>
        <p><strong>Delegacion:</strong>
        <%= @dependency.Delegation.name if @dependency.Delegation %></p>
    </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @dependency} %>
</div>
<br>
<div class="container large-padding">
    <div class="container">
        <div class="container">
            <span class="pull-right">
                <%= link_to 'Editar', edit_dependency_path(@dependency), class:'btn btn-default btn-lg ' %> |
                <%= link_to 'Regresar', dependencies_path, class:'btn btn-default btn-lg ' %>
            </span>
        </div>
    </div>
</div>

