<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dependency.name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @dependency.address %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @dependency.telephone %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @dependency.responsable %>
</p>

<p>
  <strong>Responsable email:</strong>
  <%= @dependency.responsable_email %>
</p>

<p>
  <strong>Delegacion:</strong>
  <%= @dependency.Delegation.name %>
</p>

<%= link_to 'Editar', edit_dependency_path(@dependency) %> |
<%= link_to 'Regresar', dependencies_path %>
