<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray large-padding">
  <div class="row">
    <div class="col-xs-8">
        <strong>Nombre:</strong>
        <%= @dependency.name %>
    </div>
    <div class="col-xs-8">
        <strong>Direccion:</strong>
        <%= @dependency.address %>
    </div>
    <div class="col-xs-8">
        <strong>Telefono:</strong>
        <%= @dependency.telephone %>
    </div>
    <div class="col-xs-8">
        <strong>Responsable:</strong>
        <%= @dependency.responsable %>
    </div>
    <div class="col-xs-8">
        <strong>Responsable email:</strong>
        <%= @dependency.responsable_email %>
    </div>
    <div class="col-xs-8">
        <strong>Delegacion:</strong>
        <%= @dependency.Delegation.name if @dependency.Delegation %>
    </div>
  </div>
</div>
<br>
<%= link_to 'Editar', edit_dependency_path(@dependency), class:'btn btn-default btn-lg ' %> |
<%= link_to 'Regresar', dependencies_path, class:'btn btn-default btn-lg ' %>
