<%= form_for(@screen) do |f| %>
  <% if @screen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screen.errors.count, "error") %> prohibido este monitor de ser salvado:</h2>
      <ul>
      <% @screen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs-1">        
        <%= f.label :Inventario %><br>
        <%= f.text_field :ninventary, class:'form-control smfont' %>
      </div>
      <div class="col-xs-2">        
          <%= f.label :Serie %><br>
          <%= f.text_field :nserie, class:'form-control smfont' %>
      </div>
      <div class="col-xs-1">        
          <%= f.label :Marca %><br>
          <%= f.select :brand, [['HP'] ], {include_blank: true}, {class:'btn  dropdown-toggle smfont'} %>
          <%#= f.text_field :brand %>
      </div>
      <div class="col-xs-2">        
        <%= f.label :Modelo %><br>
        <%= f.text_field :model, class:'form-control smfont' %>
      </div>
      <div class="col-xs-1">        
        <%= f.label :ID_Factura %><br>
        <%= f.text_field :nfactura, class:'form-control smfont' %>
      </div>
      <div class="col-xs-3">       
        <%= f.label :Fecha_compra %><br>
        <%= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">        
        <%= f.label :Pulgadas %><br>
        <%= f.select :inch, [['14.0'], ['14.5'], ['15.0'], ['17.0'], ['19.0'], ['21.0'] ], {include_blank: true}, 
          {class:'btn  dropdown-toggle smfont'} %>
          <%#= f.text_field :inch %>
      </div>
      <div class="col-xs-4">        
        <%= f.label :Dependency_id %><br>
        <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
          {class:'btn  dropdown-toggle smfont'}) %>
      </div>
      <div class="col-xs-4">        
        <%= f.label :Notas %><br>
        <%= f.text_area :notes, size:"60x3", class:'form-control smfont' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">        
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
