<p id="notice"><%= notice %></p>

<h1>Listado de Monitores</h1>
<div class="container-fluid">
  <div class="row be-gray">
    <div class="col-lg-2">
      <div class="box">
        <strong>No inventario</strong>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="box">
        <strong>No serie</strong>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="box">
        <strong>Marca</strong>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="box">
        <strong>Modelo</strong>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="box">
        <strong>Dependencia</strong>
      </div>
    </div>
  </div>          
  <% @screens.each do |screen| %>
    <div class="row <%= cycle('be-soft_gray','odd')%>">
      <div class="col-lg">
        <div class="box">
          <%= screen.ninventary %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= screen.nserie %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= screen.brand %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= screen.model %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= screen.Dependency.name %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= link_to 'Mostrar', screen %>
          <%= link_to 'Editar', edit_screen_path(screen) %>
          <%= link_to 'Borrar', screen, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
    <% end %>
</div>
<div>
  <%= will_paginate @screens %>
  <br>
  <br>
  <%#= link_to 'Agregar monitor', new_screen_path %>
  <%= button_to 'Agregar monitor', new_screen_path , method: :get %>
</div>