<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado de Monitores</h1>
</div>
<div class="container-fluid">
  <div class="row be-gray">
    <div class="col-xs-1">      
      <strong>Inventario</strong>
    </div>
    <div class="col-xs-2">
      <strong>No serie</strong>
    </div>
    <div class="col-xs-1">      
      <strong>Marca</strong>
    </div>
    <div class="col-xs-2">
      <strong>Modelo</strong>
    </div>
    <div class="col-xs">
      <strong>Dependencia</strong>
    </div>
  </div>          
  <% @screens.each do |screen| %>
    <div class="row <%= cycle('be-soft_gray','odd')%>">
      <div class="col-xs-1">
        <%= screen.ninventary %>
      </div>
      <div class="col-xs-2">
        <%= screen.nserie %>
      </div>
      <div class="col-xs-1">
        <%= screen.brand %>
      </div>
      <div class="col-xs-2">
        <%= screen.model %>
      </div>
      <div class="col-xs-3">        
        <%= screen.Dependency.name if screen.Dependency %>  
      </div>
      <div class="col-xs-3">
        <%= link_to 'Mostrar', screen, class:'btn btn-default  btn-sm' %>
        <%= link_to 'Editar', edit_screen_path(screen), class:'btn btn-default  btn-sm' %>
        <%= link_to 'Borrar', screen, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default  btn-sm' %>
      </div>
    </div>
    <% end %>
</div>
<div>
  <%= will_paginate @screens %>
  <br>
  <br>
  <%#= link_to 'Agregar monitor', new_screen_path %>
  <%= button_to 'Agregar monitor', new_screen_path , method: :get %>
</div>