<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado de Monitores</h1>
</div>
<div class="container-fluid">
  <div class="table-responsive no-margins">
    <table class="table table-hover table-striped">
      <thead>
        <th>Inventario</th>
        <th>Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Dependencia</th>
        <th></th>
      </thead>
      <tbody>
        <% @screens.each do |screen| %>
          <tr>
            <td> <%= screen.ninventary %></td>
            <td> <%= screen.nserie %></td>
            <td> <%= screen.brand %></td>
            <td> <%= screen.model %></td>
            <td> <%= screen.Dependency.name if screen.Dependency %></td>
            <td>
              <%= link_to 'Mostrar', screen, class:'btn btn-default  btn-sm' %>
              <%= link_to 'Editar', edit_screen_path(screen), class:'btn btn-default  btn-sm' %>
              <%= link_to 'Borrar', screen, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default  btn-sm' %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @screens %>
<br>
<%= link_to 'Agregar monitor', new_screen_path, class:'btn btn-default  btn-sm' %>
 