<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="box be-gray">
        <strong>No inventario:</strong>
        <%= @screen.ninventary %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>N serie:</strong>
        <%= @screen.nserie %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Marca:</strong>
        <%= @screen.brand %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Modelo:</strong>
        <%= @screen.model %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>ID factura:</strong>
        <%= @screen.nfactura %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Fecha compra:</strong>
        <%= @screen.buy_date %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Pulgadas:</strong>
        <%= @screen.inch %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Notas:</strong>
        <%= @screen.notes %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Dependencia:</strong>
        <%= @screen.Dependency.name %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Editar', edit_screen_path(@screen) %> |
<%= link_to 'Regresar', screens_path %>
