<p id="notice"><%= notice %></p>
<div class="container-fluid large-padding be-gray">
  <div class="row">
    <div class="col-xs">
      <strong>No inventario:</strong>
      <%= @screen.ninventary %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">      
      <strong>SERIE:</strong>
      <%= @screen.nserie %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">     
      <strong>Marca:</strong>
      <%= @screen.brand %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">      
      <strong>Modelo:</strong>
      <%= @screen.model %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">     
      <strong>ID factura:</strong>
      <%= @screen.nfactura %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">      
      <strong>Fecha compra:</strong>
      <%= @screen.buy_date %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <strong>Pulgadas:</strong>
      <%= @screen.inch %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">      
      <strong>Notas:</strong>
      <%= @screen.notes %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">     
      <strong>Dependencia:</strong>
      <%= @screen.Dependency.name if  @screen.Dependency %>
    </div>
  </div>
</div>
<%= link_to 'Editar', edit_screen_path(@screen), class:'btn btn-default  btn-sm' %> |
<%= link_to 'Regresar', screens_path, class:'btn btn-default  btn-sm' %>
