<%= form_for(@copier) do |f| %>
  <% if @copier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copier.errors.count, "error") %> prohibida la capiadora de ser salvada:</h2>

      <ul>
      <% @copier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs col-md-2">        
        <%= f.label :Inventario %><br>
        <%= f.text_field :ninventary, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Serie %><br>
        <%= f.text_field :nserie, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-3">        
        <%= f.label :Modelo %><br>
        <%= f.collection_select(:model, BrandModel.where(description:"COPIADORA"), :modelx, :modelx, 
        {:include_blank => true }, {class:'btn  dropdown-toggle smfont'} ) %>
      </div>
      <div class="col-xs col-md-2">        
        <%= f.label :Factura %><br>
        <%= f.text_field :nfactura, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-2">        
        <%= f.label :Marca %><br>
        <%= f.collection_select(:brand, BrandModel.where(description:"COPIADORA").group(:brandx).order(:brandx), :brandx, :brandx, 
          {:include_blank => true }, {class:'btn  dropdown-toggle smfont'} ) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-md-3">        
        <%= f.label :Fecha_Compra %><br>
        <%= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]} %>
      </div>
      <div class="col-xs-6 col-md-8">        
        <%= f.label :Notas %><br>
        <%= f.text_area :notes, size:"43x2" %>
      </div>
      <div class="col-xs-10 col-md-6">        
        <%= f.label :Dependencia %><br>
        <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
          {class:'btn  dropdown-toggle smfont'} ) %>
          <br>
          <br>
          <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
