<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado Copiadoras</h1>
</div>
<div class="container-fluid">
  <div class="table-responsive no-margins">
    <table class="table table-hover table-striped">
      <thead>
        <th>Inventario</th>
        <th>Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Dependencia</th>
        <th></th>
      </thead>
      <tbody>
        <% @copiers.each do |copier| %>
          <tr>
            <td> <%= copier.ninventary %></td>
            <td> <%= copier.nserie %></td>
            <td> <%= copier.brand %></td>
            <td> <%= copier.model %></td>
            <td> <%= copier.Dependency.name if copier.Dependency%></td>
            <td>
              <%= link_to 'Mostrar', copier,class:'btn btn-default  btn-sm' %> 
              <%= link_to 'Editar', edit_copier_path(copier),class:'btn btn-default  btn-sm' %>
              <%= link_to 'Borrar', copier, method: :delete, data: { confirm: 'Esta seguro?' },class:'btn btn-default  btn-sm' %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @copiers %>
<br>
<%= link_to 'Agregar', new_copier_path, class:'btn btn-default  btn-sm' %>
  <%#= button_to "Agregar Copiadora", new_copier_path, 
  #:id => "open-contacts-dialog-btn",
        #:class => "inbox-sf-add-btn tip", 
        :method => :get %>
  <%#= link_to 'Agregar Copiadora', new_copier_path, class: "button" %>
