<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado Copiadoras</h1>
</div>
<div class="container-fluid">
  <div class="row be-gray">
    <div class="col-xs-2">
      <div class="box">
        <strong>No Inventario</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>No Serie</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>Marca</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>Modelo</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>Dependencia</strong>
      </div>
    </div>
    
  </div>
  <% @copiers.each do |copier| %>
    <div class="row <%= cycle('be-soft_gray','odd')%>" >
      <div class="col-xs-2">
        <div class="box">
          <%= copier.ninventary %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= copier.nserie %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= copier.brand %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= copier.model %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= copier.Dependency.name %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= link_to 'Mostrar', copier %>
          <%= link_to 'Editar', edit_copier_path(copier) %>
          <%= link_to 'Borrar', copier, method: :delete, data: { confirm: 'Esta seguro?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div>
  <%= will_paginate @copiers %>
  <br>
  <br>
  <%#= link_to 'Agregar Copiadora', new_copier_path, class: "btn" %>
  <%= button_to "Agregar Copiadora", new_copier_path, 
  #:id => "open-contacts-dialog-btn",
        #:class => "inbox-sf-add-btn tip", 
        :method => :get %>
  <%#= link_to 'Agregar Copiadora', new_copier_path, class: "button" %>
</div>