<p id="notice"><%= notice %></p>
<div class="container be-gray">
  <div class="row">
    <div class="col-xs ">      
      <p><strong>No Inventario:</strong>
      <%= @copier.ninventary %></p>
         
      <p><strong>No Serie:</strong>
      <%= @copier.nserie %></p>
   
      <p><strong>Marca:</strong>
      <%= @copier.brand %></p>
        
      <p><strong>Modelo:</strong>
      <%= @copier.model %></p>
     
      <p><strong>ID factura:</strong>
      <%= @copier.nfactura %></p>
     
      <p><strong>Fecha compra:</strong>
      <%= @copier.buy_date %></p>
        <% if @copier.net %>
          <p><strong>DATOS LAN</strong></p>
          <p>
            <strong>MAC:</strong>
            <%= @copier.net_mac %><br>
            <strong>IP</strong>
            <%= @copier.net_ip %><br>
            <strong>MASK</strong>
            <%= @copier.net_mask %>
          </p>
        <% end %>
        <% if @copier.wifi %>
          <p><strong>DATOS WIFI</strong></p>
          <p>
            <strong>MAC:</strong>
            <%= @copier.wifi_mac %><br>
            <strong>IP</strong>
            <%= @copier.wifi_ip %><br>
            <strong>MASK</strong>
            <%= @copier.wifi_mask %>
          </p>
        <% end %>
        <% if @copier.wifi || @copier.net %>
          <strong>HOSTNAME</strong><br>
          <%= @copier.hostname %>
        <% end %>
      <p><strong>Notas:</strong>
      <%= @copier.notes %></p>

      <% if @copier.Dependency %></p>
        <p><strong>Dependencia:</strong>
        <%= @copier.Dependency.name %></p>
      <% end %></p>        
    </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @copier} %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-right">
        <br>
        <%= link_to 'Editar', edit_copier_path(@copier), class:'btn btn-default btn-lg' %> |
        <%= link_to 'Regresar', copiers_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>