<%= form_for(@service_request) do |f| %>
  <% if @service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
      <% @service_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container-fluid smfont be-round_ligth_gray large-padding">
  <div class="row">
    <div class="col-xs-5 col-md-2">
      <%= f.label :Tipo %><br>
      <%= f.select :kind, [ ['DIAGNOSTICO'], ['MANTENIMIENTO'], ['REPARACION'] ], {:include_blank => true}, 
        {class:'btn  dropdown-toggle smfont'} %>
    </div>
    <div class="col-xs-7 col-md-6">
      <%= f.label :DIagnostico_TI %><br>
      <%= f.text_field :itDiagnosis, class:'form-control xsfont' %>
    </div>
    <div class="col-xs-5 col-md-2">
      <%= f.label :Solicitud %><br>
      <%= f.text_field :DocumentRequest, class:'form-control xsfont' %>
    </div>
    <div class="col-xs col-md">
      <%= f.label :Fecha_solicitud %><br>
      <%= f.date_select :RequestDate, {order: [:day, :month, :year]} %>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-5 col-md-2">
        <%= f.label :Delegacion %><br>
        <%= f.collection_select(:Delegation_id, Delegation.all, :id, :name, 
          {:include_blank => true }, {class:'btn  dropdown-toggle smfont'} ) %>
      </div>
      <div class="col-xs-11 col-md-5">
        <%= f.label :Dependencia %><br>
        <%= f.collection_select(:Dependency_id, Dependency.all, :id, :name,
          {:include_blank => true }, {class:'btn  dropdown-toggle smfont'} ) %>
      </div>
    </div>
 </div>
  <div class="field">
    <%= f.label :Copier_id %><br>
    <%= f.collection_select(:Copier_id, Copier.all.where(Dependency_id:118), :id, :ninventary,
          {:include_blank => true }, {class:'btn  dropdown-toggle smfont'} ) %>
  </div>
  <div class="field">
    <%= f.label :Provider_id %><br>
    <%= f.text_field :Provider_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
