<div class="container-fluid large-padding">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
      <h1>Solicitudes de Servicio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6"></div>
    <div class="col-xs-6 col-md-6">
      <span class="pull-right">
        <%= link_to 'Agregar', new_service_request_path, class:'btn btn-default btn-lg '%>
      </span>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row">
    <div class="col-xs col-md">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <!--<th>Idfolio</th>-->
              <th>Tipo</th>
              <!--<th>Documento</th>-->
              <th>Solicitud</th>
              <th>Delegacion</th>
              <th>Dependencia</th>
              <th>Proveedor</th>
              <th>Equipo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @service_requests.each do |service_request| %>
              <tr>
                <td><%= service_request.id %></td>
                <!--<td><%#= service_request.idFolio %></td> -->
                <td><%= service_request.kind %></td>
                <!--<td><%#= service_request.DocumentRequest %></td>  -->
                <td><%= service_request.RequestDate %></td>
                <td><%= service_request.Delegation.name if service_request.Delegation %></td>
                <td><%= service_request.Dependency.name if service_request.Dependency %></td>
                <td><%= service_request.Provider.name[0..18] if service_request.Provider %></td>
                <td>
                    <%= 'COPIADORA' if service_request.Copier %>
                    <%= 'SCANNER' if service_request.Scanner %>
                    <%= 'IMPRESORA' if service_request.Printer %>
                    <%= 'MONITOR' if service_request.Screen %>
                    <%= 'TELEFONO' if service_request.Telephone %>
                    <%= 'REGULADOR/UPS' if service_request.Power %>
                </td>
                <td>
                    <%= service_request.Copier.brand if service_request.Copier %>
                    <%= service_request.Scanner.brand if service_request.Scanner %>
                    <%= service_request.Printer.brand if service_request.Printer %>
                    <%= service_request.Screen.brand if service_request.Screen %>
                    <%= service_request.Telephone.brand if service_request.Telephone %>
                    <%= service_request.Power.brand if service_request.Power %>
                </td>
                <td>
                    <%= service_request.Copier.model if service_request.Copier %>
                    <%= service_request.Scanner.model if service_request.Scanner %>
                    <%= service_request.Printer.model if service_request.Printer %>
                    <%= service_request.Screen.model if service_request.Screen %>
                    <%= service_request.Telephone.model if service_request.Telephone %>
                    <%= service_request.Power.model if service_request.Power %>
                </td>
                
                <td><%= link_to service_request, class:'btn btn-default btn-sm' do %>
                      <%= octicon 'eye', :height => 20 %>
                    <% end %>
                </td>
                <td><%= link_to edit_service_request_path(service_request), class:'btn btn-default btn-sm' do %>
                      <%= octicon 'pencil', :height => 20 %>
                    <% end %>
                </td>
                <td><%= link_to service_request, method: :delete, data: { confirm: 'Esta seguro?' }, class:'btn btn-default btn-sm' do %>
                      <%= octicon 'trashcan', :height => 20 %>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-6 col-md-6">
      <span class="pull-left">
        <%= will_paginate(@service_requests, renderer: BootstrapPagination::Rails) %>
      </span>
    </div>
  </div>
</div>
<br>
