<p id="notice"><%= notice %></p>
<div class='container'>
  <div class='row be-gray'>
    <div class='col-xs col-md-3'>
      <p>
        <strong>Idfolio:</strong>
        <%= @service_request.idFolio %>
      </p>
    </div>
    <div class="col-xs col-md-3">
      <p>
        <strong>Tipo:</strong>
        <%= @service_request.kind %>
      </p>
    </div>
    <div class="col-xs col-md-6">
      <p>
        <strong>Diagnostico_TI:</strong>
        <%= @service_request.itDiagnosis %>
      </p>
    </div>
  </div>
  <div class='row be-gray'>
    <div class="col-xs col-md-3">
      <p>
        <strong>Documento_Solicitud:</strong>
        <%= @service_request.DocumentRequest %>
      </p>
    </div>
    <div class="col-xs col-md-3">
      <p>
        <strong>Fecha_Solicitud:</strong>
        <%= @service_request.RequestDate %>
      </p>
    </div>
    <div class="col-xs col-md-3">
      <p>
        <strong>Delegacion:</strong>
        <%= @service_request.Delegation.name %>
      </p>
    </div>
    <% if @service_request.Copier %>
       <% data = '[ ' + @service_request.Copier.brand + ' ]==>'%>
       <% if @service_request.Copier.ninventary %>
       <%   data += @service_request.Copier.ninventary %>
       <% else @service_request.Copier.ninventary %>
       <%   data += @service_request.Copier.nserie %>
       <% end %>
        <div class="col-xs col-md-3">
          <p>
            <strong>Copiadora:</strong>
            <%= data %>
          </p>
        </div>
    <% end %>

    <% if @service_request.Printer %>
       <% data = '[ ' + @service_request.Printer.brand + ' ]==>'%>
       <% if @service_request.Printer.ninventary %>
       <%   data += @service_request.Printer.ninventary %>
       <% else @service_request.Printer.ninventary %>
       <%   data += @service_request.Printer.nserie %>
       <% end %>
        <div class="col-xs col-md-3">
          <p>
            <strong>Impresora:</strong>
            <%= data %>
          </p>
        </div>
    <% end %>

    <% if @service_request.Screen %>
       <% data = '[ ' + @service_request.Screen.brand + ' ]==>'%>
       <% if @service_request.Screen.ninventary %>
       <%   data += @service_request.Screen.ninventary %>
       <% else @service_request.Screen.ninventary %>
       <%   data += @service_request.Screen.nserie %>
       <% end %>
        <div class="col-xs col-md-3">
          <p>
            <strong>Monitor:</strong>
            <%= data %>
          </p>
        </div>
    <% end %>

    <% if @service_request.Telephone %>
       <% data = '[ ' + @service_request.Telephone.brand + ' ]==>'%>
       <% if @service_request.Telephone.ninventary %>
       <%   data += @service_request.Telephone.ninventary %>
       <% else @service_request.Telephone.ninventary %>
       <%   data += @service_request.Telephone.nserie %>
       <% end %>
        <div class="col-xs col-md-3">
          <p>
            <strong>Telefono:</strong>
            <%= data %>
          </p>
        </div>
    <% end %>

    <% if @service_request.Power %>
       <% data = '[ ' + @service_request.Power.brand + ' ]==>'%>
       <% if @service_request.Power.ninventary %>
       <%   data += @service_request.Power.ninventary %>
       <% else @service_request.Power.ninventary %>
       <%   data += @service_request.Power.nserie %>
       <% end %>
        <div class="col-xs col-md-3">
          <p>
            <strong>Regulador/UPS:</strong>
            <%= data %>
          </p>
        </div>
    <% end %>
  </div>
  <div class='row be-gray'>
    <div class="col-xs col-md-6">
      <p>
        <strong>Dependencia:</strong>
        <%= @service_request.Dependency.name %>
      </p>
    </div>
    <div class="col-xs col-md-6">
      <p>
        <strong>Proveedor:</strong>
        <%= @service_request.Provider.name %>
      </p>
    </div>
  </div>
  <div class="row be-gray">
    <div class="col-xs col-md-4">
      <p>
        <strong>Diagnostico_Proveedor:</strong>
        <%= @service_request.ProviderDiagnosis %>
      </p>
    </div>
    <div class="col-xs col-md-4">
      <p>
        <strong>Material:</strong>
        <%= @service_request.material %>
      </p>
    </div>
    <div class="col-xs col-md-4">
      <p>
        <strong>Fecha_Ejecucion:</strong>
        <%= @service_request.ExecutionDate %>
      </p>
    </div>
  </div>
  <div class="row be-gray">
    <div class="col-xs col-md">
      <p>
        <strong>Bitacora:</strong>
        <%= @service_request.History %>
      </p>    
    </div>
  </div>
</div>
<br>

<%= link_to 'Editar', edit_service_request_path(@service_request), class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', service_requests_path, class:'btn btn-default btn-lg' %> |
<%= link_to 'PDF', service_request_get_pdf_path(@service_request, format:"pdf"), class:'btn btn-default btn-lg' %>

