<%= form_for(@hardd) do |f| %>
  <% if @hardd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hardd.errors.count, "error") %> prohibited this hardd from being saved:</h2>

      <ul>
      <% @hardd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid smfont">
    <div class="row be-round_ligth_gray large-padding">
      <div class="col-xs-1">
        <%= f.label :Tamaño %><br>
        <%= f.text_field :size, class:'form-control' %>
      </div>
      <div class="col-xs-2">
        <%= f.label :Tipo %><br>
        <%= f.select :tsize, [ ['GB'], ['TB'] ], {:include_blank => true}, {class:'btn  dropdown-toggle smfont'} %>
      </div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
