<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado Discos Duros</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Tamaño</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @hardds.each do |hardd| %>
              <tr>
                <td><%= hardd.combined_value %></td>           
                <td>
                  <%= link_to 'Editar', edit_hardd_path(hardd), class:'btn btn-default  btn-sm' %>
                  <%= link_to 'Borrar', hardd, method: :delete, data: { confirm: 'Esta usted seguro?' }, 
                  class:'btn btn-default btn-sm' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
    </div>
    <div class="col-xs">
      <%= will_paginate(@hardds) %>
      <br>
      <%= link_to 'Agregar Disco', new_hardd_path, class:'btn btn-default  btn-lg' %>
    </div>
  </div>
</div>
