<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray large-padding">
	<div class="row">
		<div class="col-xs large-padding">
			<p>
			  <strong>Disco:</strong>
			  <%= @hardd.size %> <%= @hardd.tsize %>
			</p>
		</div>
	</div>
</div>

<%= link_to 'Editar', edit_hardd_path(@hardd), class:'btn btn-default  btn-lg' %> |
<%= link_to 'Regresar', hardds_path, class:'btn btn-default  btn-lg' %>
