<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @hardd.size %>
</p>

<p>
  <strong>Tsize:</strong>
  <%= @hardd.tsize %>
</p>

<%= link_to 'Edit', edit_hardd_path(@hardd) %> |
<%= link_to 'Back', hardds_path %>
