<%= form_for(@computer) do |f| %>
  <% if @computer.errors.any? %>
    <div id="error_explanation" style='background-color:powderblue;'>
      <h2><%= pluralize(@computer.errors.count, "error") %> prohibida esta computadora de ser salvada:</h2>

      <ul>
      <% @computer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container smfont be-round_ligth_gray ">
    <%= render partial:'layouts/dd', locals:{:f => f} %>
    <div class="row">
      <div class="col-xs col-md-2">
        <%= f.label :Inventario %><br>
        <%= f.text_field :ninventary, class:'form-control ' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Serie %><br>
        <%= f.text_field :nserie, class:'form-control ' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Factura %><br>
        <%= f.text_field :nfactura, class:'form-control ' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Nompre_Equipo %><br>
        <%= f.text_field :name, class:'form-control ' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Fecha_Compra %><br>
        <%= f.text_field :buy_date, class:'form-control smfont fechax' %>
        <%#= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]}, 
        {class:'btn btn-default dropdown-toggle smfont'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-2">
        <%= f.label :Marca %><br>
        <%= f.select(:brand, BrandModel.where(description:"COMPUTADORA").uniq.pluck(:brandx), 
        {:include_blank => true }, {class:'btn btn-default dropdown-toggle brands4pc'} ) %>

      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Modelo %><br>
        <%#= f.text_field :model, class:'form-control textbdy' %>
        <%= f.collection_select(:model, BrandModel.where(description:'COMPUTADORA').where("modelx != ''"), :modelx, :modelx, 
        {:include_blank => true }, {class:'btn btn-default dropdown-toggle  models4pc'} ) %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Tipo %><br>  
        <%= f.select :genus, [ ['ESCRITORIO'],['ALL IN ONE'] ,['PORTATIL'], ['SERVIDOR'] ], 
          {:include_blank => true},  {class:'btn btn-default dropdown-toggle  '} %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Disco_Duro %><br>
        <%= f.collection_select(:hd, Hardd.all, :combined_value, :combined_value, {:include_blank => true}, 
          {class:'btn btn-default dropdown-toggle smfont'}) %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Memoria %><br>
        <%= f.collection_select(:memory, Memo.all, :combined_value, :combined_value, {:include_blank => true}, 
          {class:'btn btn-default dropdown-toggle smfont pcmemo'} ) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-4">
        <%= f.label :ver_Office %><br>
        <%= f.collection_select(:voffice, Officev.all.order(:name), :name, :name, {:include_blank => true},
          {class:'btn btn-default dropdown-toggle smfont'} ) %>
      </div>
      <div class="col-xs col-md-4">
        <%= f.label :Sistema_Operativo %><br>
        <%= f.collection_select(:os, Osy.all.order(:version), :combined_value, :combined_value, {:include_blank => true}, 
          {class:'btn btn-default dropdown-toggle smfont'} ) %>
      </div>
      <div class="col-xs col-md-4">
        <%= f.label :Procesador %><br>
        <%= f.collection_select(:processor, Processor.all.order(:modelp), :combined_value, :combined_value, 
          {:include_blank => true}, {class:'btn btn-default dropdown-toggle smfont'} ) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-3">
        <%= f.label :Responsable %><br>
        <%= f.collection_select(:Worker_id, Worker.all, :id, :name, {:include_blank => true }, 
          {class:'btn btn-default dropdown-toggle smfont'} ) %>
      </div>
      <div class="col-xs col-md-3">
        <%= f.label :RED %><br>
        <%= f.collection_select(:Network_id, Network.all, :id, :location, {:include_blank => true}, 
          {class:'btn btn-default dropdown-toggle smfont'} ) %>
      </div> 
      <div class="col-xs col-md-3">
        <%= f.label :'Usuarios de sistema' %><br>
        <%= f.text_field :users, placeholder:'usuarios locales', class:'form-control ' %>
      </div>
      <div class="col-xs col-md-3">
        <%= f.label :GRUPO %><br>
        <%= f.text_field :workgroup, placeholder:'grupo de trabajo', class:'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-1">
        <%= f.label :WIFI? %><br>
        <%= f.check_box :wifi %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Mac_WIFI %><br>
        <%= f.text_field :macwifi, class:'form-control smfont ' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :IP_WIFI %><br>
        <%#= f.text_field :ipwifi, :class =>'ipwifi', :disabled => 'false' %>
        <%= f.text_field :ipwifi, class:'form-control smfont ' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Mask_WIFI %><br>
        <%#= f.select :maskwifi, [['255.255.255.0'],['DHCP']], {}, {:class => 'mskwifi', :disabled => 'false'} %>
        <%= f.select :maskwifi, [['255.255.255.0'],['DHCP']], {}, {class:'btn btn-default dropdown-toggle smfont'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-1"></div>
      <div class="col-xs col-md-2">
        <%= f.label :Mac_Lan %><br>
        <%= f.text_field :maclan, class:'form-control smfont ' %>        
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :IP_Lan %><br>
        <%= f.text_field :iplan, class:'form-control smfont ' %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Mask_Lan %><br>
        <%= f.select :masklan, [['255.255.255.0'],['DHCP']], {}, {class:'btn btn-default dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs col-md-5">
        <%= f.label :Notas %><br>
        <%= f.text_area :notes, size:"50x2" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-1">
        <%= f.label :Bluetooth? %><br>
        <%= f.check_box :bluetooth %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :Mac_Bluetooth %><br>
        <%= f.text_field :macbluetooth, class:'form-control smfont ' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 ">
        <span class="pull-left">
          <br>
          <%= f.submit  %>
        </span>
      </div>
    </div>
</div>
<% end %>
