<%= form_for(@computer) do |f| %>
  <% if @computer.errors.any? %>
    <div id="error_explanation" style='background-color:powderblue;'>
      <h2><%= pluralize(@computer.errors.count, "error") %> prohibida esta computadora de ser salvada:</h2>

      <ul>
      <% @computer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row ">
      <div class="col-xs">
        <div class="box">
          <%= f.label :Inventario %><br>
          <%= f.text_field :ninventary %><br>
          <%= f.label :Serie %><br>
          <%= f.text_field :nserie %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Modelo %><br>
          <%= f.text_field :model %><br>
          <%= f.label :Factura %><br>
          <%= f.text_field :nfactura %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :'Usuarios de sistema' %><br>
          <%= f.text_field :users %><br>
          <%= f.label :Nompre_Equipo %><br>
          <%= f.text_field :name %><br>

        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :workgroup %><br>
          <%= f.text_field :workgroup %><br>
          <%= f.label :Network_id %><br>
          <%= f.text_field :Network_id %>

        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :IP_Lan %><br>
          <%= f.text_field :iplan %><br>
          <%= f.label :IP_WIFI %><br>
          <%= f.text_field :ipwifi %>

        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Mask_Lan %><br>
          <%= f.select :masklan, [['255.255.255.0'],['DHCP']], {}, {:class => 'frms'} %><br>
          <%= f.label :Mask_WIFI %><br>
          <%= f.select :masklan, [['255.255.255.0'],['DHCP']], {}, {:class => 'frms'} %>
          <%#= f.text_field :maskwifi %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Mac_Lan %><br>
          <%= f.text_field :maclan %><br>
          <%= f.label :Mac_WIFI %><br>
          <%= f.text_field :macwifi %>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs">
        <div class="box">
          <div class="row">
            <div class="col-xs">
              <div class="box">
                <%= f.label :Tipo %><br>
                <%= f.select :genus, [ ['ESCRITORIO'], ['LAPTOP'], ['SERVIDOR'], ['ALL_IN_ONE'] ], {}, {:class => 'frms'} %>       
              </div>
            </div>
            <div class="col-xs">
              <div class="box">
                <%= f.label :Marca %><br>
                <%= f.select :brand, 
                  [ ['HP'], ['LENOVO'], ['CLON'], ['COMPAQ'], ['SONY'], ['IBM'], ['SAMSUNG'], ['ASUS'], ['DELL'], [''] ], {}, 
                  {:class => 'frms'} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs">
              <div class="box">
                <%= f.label :Disco_Duro %><br>
                <%= f.select :hd,
                  [ ['40 GB'], ['80 GB'], ['100 GB'], ['120 GB'], ['150 GB'], ['160 GB'], ['200 GB'], ['220 GB'], ['250 GB'], 
                  ['280 GB'], ['300 GB'], ['320 GB'], ['350 GB'], ['500 GB'], ['1 TB'], ['1.5 TB'], ['2 TB'], ['2.5 TB'], ['3 TB'], 
                  ['3.5 TB'] ], {}, {:class => 'frms'}  %>
              </div>
            </div>
            <div class="col-xs">
              <div class="box">
                <%= f.label :Memoria %><br>
                <%= f.select :memory,
                [ ['192 MB'], ['256 MB'], ['512 MB'], ['768 MB'], ['896 MB'], ['1 GB'], ['1.2 GB'], ['1.5 GB'], ['2 GB'], ['2.5 GB'],
              ['3 GB'], ['3.5 GB'], ['4 GB'], ['4.5 GB'], ['6 GB'], ['6.5 GB'], ['8 GB'], ['8.5 GB'], ['12 GB'],  ['16 GB'],
              ['32 GB'] ], {}, {:class => 'frms'} %><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Fecha_Compra %><br>
          <%= f.date_select :buy_date %>
          <div class="row">
            <div class="col-xs">
              <div class="box">
                <%= f.label :Bluetooth? %><br>
                <%= f.check_box :bluetooth %>
              </div>
            </div>
            <div class="col-xs">
              <div class="box">
                <%= f.label :WIFI? %><br>
                <%= f.check_box :wifi %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Procesador %><br>
          <%= f.select :processor,
            [ ['Intel(R) Core(TM) i7-4600 M 2.90GHz'], ['Intel(R) Atom(TM) CPU D525 1.80GHz '],  
              ['Intel(R) Core(TM) i5-4590 3.30GHz'], ['Intel(R) Core(TM) 2 6400GHz'], ['Intel(R) Core(TM) i3-2130 3.40GHz'] 
              ['Intel(R) Celeron(R) N3050 1.60GHz'] ], 
              {}, {:class => 'frms'} %><br>
          <%= f.label :Sistema_Operativo %><br>
          <%= f.select :os, 
            [ ['LINUX UBUNTU'], ['WINDOWS VISTA'], ['WINDOWS VISTA 64b'], ['WINDOWS VISTA B.'], ['WINDOWS VISTA B. 64b'], 
              ['WINDOWS 7'], ['WINDOWS 7 64b'], ['WINDOWS 7 PRO'], ['WINDOWS 7 PRO 64b'], ['WINDOWS 7 STARTER'], ['WINDOWS 7 STARTER 64b'],
              ['WINDOWS XP SP2'], ['WINDOWS XP SP2 64b'], ['WINDOWS XP SP3'], ['WINDOWS XP SP3 64b'], ['WINDOWS HOME SP3'], 
              ['WINDOWS HOME SP3 64b'], ['WINDOWS XP PRO SP2'], ['WINDOWS XP PRO SP3'], ['WINDOWS XP PRO SP2 64b'], ['WINDOWS XP PRO SP3 64b'], 
              ['WINDOWS 8'], ['WINDOWS 8 64b'], ['WINDOWS 8.1'], ['WINDOWS 10'], ['WINDOWS 8.1 64b'], ['WINDOWS 10 64b'], ['WINDOWS 10 PRO'], 
              ['WINDOWS 10 PRO 64b'], ['WINDOWS SERVER 2003'], ['WINDOWS SERVER 2008'], ['WINDOWS SERVER 2012'], 
              ['WINDOWS MULTIPOINT SERVER 2010'] ], {}, {:class => 'frms'} %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Responsable %><br>
          <%= f.collection_select(:Worker_id, Worker.all, :id, :name) %>
        </div>
              <div class="box">
          <%= f.label :Dependencia %><br>
          <%= f.collection_select(:Dependency_id, Dependency.all, :id, :name, {}, {:class => 'frms'}) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <%= f.label :ver_Office %><br>
          <%= f.select :voffice, [
            ['OFFICE 2000 Standar'], ['OFFICE 2000 Profesional'], ['OFFICE XP Standar'], ['OFFICE XP Profesional'],
            ['OFFICE XP Prof. edicion Esp'], ['OFFICE 2003 Basic'], ['OFFICE 2003 Student'], ['OFFICE 2003 Small B'],
            ['OFFICE 2003 Prof. Edit'], ['OFFICE 2003 Enterprice Edic.'], ['OFFICE 2007 Home Basic'], 
            ['OFFICE 2007 Home and Std'], ['OFFICE 2007 Standard'], ['OFFICE 2007 Small B'], ['OFFICE 2007 Prof.'], 
            ['OFFICE 2007 Prof. Plus.'], ['OFFICE 2007 Enterprise'], ['OFFICE 2007 Ultimate.'], 
            ['OFFICE 2010-2013-2016 Start'], ['OFFICE 2010-2013-2016 Online'], ['OFFICE 2010-2013-2016 Home and st.'], 
            ['OFFICE 2010-2013-2016 Home and Business'], ['OFFICE 2010-2013-2016 Small B.'], ['OFFICE 2010-2013-2016 Standar'], 
            ['OFFICE 2010-2013-2016 Profesional'], ['OFFICE 2010-2013-2016 Prof. Plus.'], ['OFFICE 365'] ], {}, {:class => 'frms'} %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= f.label :Notas %>
          <%= f.text_area :notes, size:"80x3" %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
