<p id="notice"><%= notice %></p>
<div class="container">
    <div class='row'>
        <%= bootstrap_form_for(@computer) do |f| %>
            <div class='col-xs col-md-4 be-gray'>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" align='center'>EQUIPO A DAR DE BAJA</h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                         <%= "Dependencia #{@computer.Dependency.name} " %><br>
                        <%= "No Oficial #{@computer.ninventary} " %><br>
                        <%= "No Serie #{@computer.nserie} " %>
                    </h6>
                    <h6>
                        <%= f.text_area_with_bootstrap :reazon, label:'Razon de Baja' %>
                    </h6>
                  </div>
                </div>
            </div>
            <div class='col-xs col-md-8'>
                <div class='row'>
                    <div class='col-xs col-md-6'>
                         <!-- <img id="img_prev" src="#" width='210' height=230 /> -->
                          <%#= image_tag @computer.picture1, class:'img-fluid card thumbnail', size:'210x230', id:'picture1'  %>
                          <%= f.file_field_with_bootstrap :picture, label:'Foto No serie' %>
                          <%#= hidden_field_tag(:person_id, @person.id) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>