<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray large-padding">
  <div class="row large-padding ">
    <div class="col-xs-1">
      <strong>Inventario:</strong><br>
      <%= @computer.ninventary %>
    </div>
    <div class="col-xs-2">      
      <strong>No Serie:</strong><br>
      <%= @computer.nserie %>
    </div>
    <div class="col-xs-1">      
      <strong>Marca:</strong><br>
      <%= @computer.brand %>
    </div>
    <div class="col-xs-2">      
      <strong>Modelo:</strong><br>
      <%= @computer.model  %>
    </div>
    <div class="col-xs-1">      
      <strong>ID Factura:</strong><br>
      <%= @computer.nfactura %>
    </div>
    <div class="col-xs-2">      
      <strong>Fecha Compra:</strong><br>
      <%= @computer.buy_date %>
    </div>
    <div class="col-xs-1">      
      <strong>Tipo:</strong><br>
      <%= @computer.genus %>
    </div>
    <div class="col-xs-2">
      <strong>Procesador:</strong><br>
      <%= @computer.processor %>
    </div>
  </div>
  <div class="row large-padding ">
    <div class="col-xs-1">      
      <strong>Disco Duro:</strong><br>
      <%= @computer.hd %>
    </div>
    <div class="col-xs-1">      
      <strong>Memoria:</strong><br>
      <%= @computer.memory %>
    </div>
    <div class="col-xs-2">      
      <strong>Sistema Operativo:</strong><br>
      <%= @computer.os %>
    </div>
    <div class="col-xs-3">      
      <strong>Office Ver.:</strong><br>
      <%= @computer.voffice %>
    </div>
    <div class="col-xs-2">      
      <strong>Nombre:</strong><br>
      <%= @computer.name %>
    </div>
    <div class="col-xs-3">      
      <strong>Usuarios:</strong><br>
      <%= @computer.users %>
    </div>
  </div>
  <div class="row large-padding ">
    <div class="col-xs-2">     
      <strong>Workgroup:</strong><br>
      <%= @computer.workgroup %>
    </div>
    <div class="col-xs-2">      
      <strong>Asignada a:</strong><br>
      <%= @computer.Worker.name if @computer.Worker %>
    </div>
    <div class="col-xs-2">      
      <strong>LAN:</strong><br>
      <%= @computer.maclan %><br>
      <%= @computer.iplan %><br>
      <%= @computer.masklan %>
    </div>
    <% if @computer.bluetooth %>
      <div class="col-xs-2">
        <strong>BLUETOOTH</strong><br>
        <%= @computer.macbluetooth %>
      </div>
    <% end %>
    <% if @computer.wifi %>
      <div class="col-xs">      
        <strong>WIFI:</strong><br>
        <%= @computer.macwifi %><br>
        <%= @computer.ipwifi %><br>
        <%= @computer.maskwifi %>
      </div>
    <% end %>
    <div class="col-xs-2">
      <strong>Conectado a:</strong><br>
        <%= @computer.Network.location if @computer.Network %>
    </div>
  </div>
  <div class="row large-padding">
    <div class="col-xs">
        <strong>Dependencia:</strong><br>
        <%= @computer.Dependency.name if @computer.Dependency %><br>
    </div>
    <div class="col-xs">
      <strong>Notas:</strong><br>
      <%= @computer.notes %>
    </div>
  </div>
</div>
<br>

<%= link_to 'Editar', edit_computer_path(@computer), class:'btn btn-default  btn-sm' %> |
<%= link_to 'Regresar', computers_path, class:'btn btn-default  btn-sm' %>
