<p id="notice"><%= notice %></p>

<p>
  <strong>No Inventario:</strong>
  <%= @computer.ninventary %>
</p>

<p>
  <strong>No Serie:</strong>
  <%= @computer.nserie %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @computer.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @computer.model %>
</p>

<p>
  <strong>ID Factura:</strong>
  <%= @computer.nfactura %>
</p>

<p>
  <strong>Fecha Compra:</strong>
  <%= @computer.buy_date %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @computer.genus %>
</p>

<p>
  <strong>Procesador:</strong>
  <%= @computer.processor %>
</p>

<p>
  <strong>Disco Duro:</strong>
  <%= @computer.hd %>
</p>

<p>
  <strong>Memoria:</strong>
  <%= @computer.memory %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @computer.bluetooth %>
</p>

<p>
  <strong>Sistema Operativo:</strong>
  <%= @computer.os %>
</p>

<p>
  <strong>Office Ver.:</strong>
  <%= @computer.voffice %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @computer.users %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Workgroup:</strong>
  <%= @computer.workgroup %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @computer.wifi %>
</p>

<p>
  <strong>Mac lan:</strong>
  <%= @computer.maclan %>
</p>

<p>
  <strong>Ip lan:</strong>
  <%= @computer.iplan %>
</p>

<p>
  <strong>Mask lan:</strong>
  <%= @computer.masklan %>
</p>

<p>
  <strong>Mac wifi:</strong>
  <%= @computer.macwifi %>
</p>

<p>
  <strong>Ip wifi:</strong>
  <%= @computer.ipwifi %>
</p>

<p>
  <strong>Mask wifi:</strong>
  <%= @computer.maskwifi %>
</p>
<!--
<p>
  <strong>Operational:</strong>
  <%= @computer.operational %>
</p>

<p>
  <strong>Reazon:</strong>
  <%= @computer.reazon %>
</p>
-->
<p>
  <strong>Notas:</strong>
  <%= @computer.notes %>
</p>

<p>
  <strong>Network:</strong>
  <%= @computer.Network %>
</p>

<p>
  <strong>Dependency:</strong>
  <%= @computer.Dependency %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @computer.Worker %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
