<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray large-padding">
  <div class="row large-padding">
    <div class="col-xs-3 col-md">
      <strong>Inventario:</strong><br>
      <%= @computer.ninventary %>
    </div>
    <div class="col-xs-3 col-md">
      <strong>Serie:</strong><br>
      <%= @computer.nserie %>
    </div>
    <div class="col-xs-3 col-md">      
      <strong>Marca:</strong><br>
      <%= @computer.brand %>
    </div>
    <div class="col-xs-3 col-md">      
      <strong>Modelo:</strong><br>
      <%= @computer.model  %>
    </div>
  </div>
  <div class="row large-padding">
    <div class="col-xs-3 col-md">
       <strong>TIPO:</strong><br>
      <%= @computer.genus %>
    </div>
    <div class="col-xs-3 col-md">      
      <strong>NOMBRE:</strong><br>
      <%= @computer.name %>
    </div>
    <div class="col-xs-3 col-md">      
      <strong>HDD:</strong><br>
      <%= @computer.hd %>
    </div>
    <div class="col-xs-3 col-md">
      <strong>Memoria:</strong><br>
      <%= @computer.memory %>
    </div>
  </div>
  <div class="row large-padding">
    <div class="col-xs-3 col-md">      
      <strong>Factura:</strong><br>
      <%= @computer.nfactura %>
    </div>
    <div class="col-xs-3 col-md">
      <strong>Compra:</strong><br>
      <%= @computer.buy_date %>
    </div>
    <div class="col-xs-6 col-md">
      <strong>Procesador:</strong><br>
      <%= @computer.processor %>
    </div>
  </div>
  <div class="row large-padding">
    <div class="col-xs-4 col-md-3">      
      <strong>Usuarios:</strong><br>
      <%= @computer.users %>
    </div>
    <div class="col-xs-4 col-md-3">      
      <strong>Responsable:</strong><br>
      <%= @computer.Worker.name if @computer.Worker %>
    </div>
    <div class="col-xs-4 col-md-3">     
      <strong>Workgroup:</strong><br>
      <%= @computer.workgroup %>
    </div>
  </div>
  <div class="row large-padding">
    <div class="col-xs-4 col-md-3">      
      <strong>Sistema Operativo:</strong><br>
      <%= @computer.os %>
    </div>
    <div class="col-xs-4 col-md-3">      
      <strong>Office Ver.:</strong><br>
      <%= @computer.voffice %>
    </div>
    <div class="col-xs-4 col-md">
        <strong>Dependencia:</strong><br>
        <%= @computer.Dependency.name if @computer.Dependency %><br>
    </div>
  </div>
  <div class="row large-pagging">
    <div class="col-xs col-md-3">
      <strong>LAN:</strong><br>
      mac: <%= @computer.maclan %><br>
      <%= @computer.iplan %>/<%= @computer.masklan %>
    </div>
    <% if @computer.wifi %>
      <div class="col-xs col-md-3 ">
        <strong>WIFI:</strong><br>
        mac: <%= @computer.macwifi %><br>
        <%= @computer.ipwifi %>/<%= @computer.maskwifi %>
      </div>
    <% end %>
    <% if @computer.bluetooth %>
      <div class="col-xs col-md-3">
        <strong>BLUETOOTH</strong><br>
        <%= @computer.macbluetooth %>
      </div>
    <% end %>
    <div class="col-xs col-md-3">
      <strong>Conectado a:</strong><br>
        <%= @computer.Network.location if @computer.Network %>
    </div>
  </div>
  <div class="row large-padding">
    <div class="col-xs col-md">
      <strong>Notas:</strong><br>
      <%= @computer.notes %>
    </div>
  </div>
</div>
<%= link_to 'Editar', edit_computer_path(@computer), class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', computers_path, class:'btn btn-default btn-lg' %>
