<p id="notice"><%= notice %></p>
<div class="container be-gray">
  <div class="row">
    <div class="col-xs-3 col-md">
      <p></p><strong>Inventario:</strong><br>
      <%= @computer.ninventary %></p>
    </div>
    <div class="col-xs-3 col-md">
      <p><strong>Serie:</strong><br>
      <%= @computer.nserie %></p>
    </div>
    <div class="col-xs-3 col-md">      
      <p><strong>Marca:</strong><br>
      <%= @computer.brand %></p>
    </div>
    <div class="col-xs-3 col-md">      
      <p><strong>Modelo:</strong><br>
      <%= @computer.model  %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-md">
       <p><strong>TIPO:</strong><br>
      <%= @computer.genus %></p>
    </div>
    <div class="col-xs-3 col-md">      
      <p><strong>NOMBRE:</strong><br>
      <%= @computer.name %></p>
    </div>
    <div class="col-xs-3 col-md">      
      <p><strong>HDD:</strong><br>
      <%= @computer.hd %></p>
    </div>
    <div class="col-xs-3 col-md">
      <p><strong>Memoria:</strong><br>
      <%= @computer.memory %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-md">      
      <p><strong>Factura:</strong><br>
      <%= @computer.nfactura %>
    </div>
    <div class="col-xs-3 col-md">
      <p><strong>Compra:</strong><br>
      <%= @computer.buy_date %>
    </div>
    <div class="col-xs-6 col-md">
      <p><strong>Procesador:</strong><br>
      <%= @computer.processor %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-3">      
      <P><strong>Usuarios:</strong><br>
      <%= @computer.users %></P>
    </div>
    <div class="col-xs-4 col-md-3">      
      <P><strong>Responsable:</strong><br>
      <%= @computer.Worker.name if @computer.Worker %></P>
    </div>
    <div class="col-xs-4 col-md-3">     
      <P><strong>Workgroup:</strong><br>
      <%= @computer.workgroup %></P>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-3">      
      <P><strong>Sistema Operativo:</strong><br>
      <%= @computer.os %></p>
    </div>
    <div class="col-xs-4 col-md-3">      
      <P><strong>Office Ver.:</strong><br>
      <%= @computer.voffice %></p>
    </div>
    <div class="col-xs-4 col-md">
        <P><strong>Dependencia:</strong><br>
        <%= @computer.Dependency.name if @computer.Dependency %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-md-3">
      <p><strong>LAN:</strong><br>
      mac: <%= @computer.maclan %><br>
      <%= @computer.iplan %>/<%= @computer.masklan %></p>
    </div>
    <% if @computer.wifi %>
      <div class="col-xs col-md-3 ">
        <p><strong>WIFI:</strong><br>
        mac: <%= @computer.macwifi %><br>
        <%= @computer.ipwifi %>/<%= @computer.maskwifi %></p>
      </div>
    <% end %>
    <% if @computer.bluetooth %>
      <div class="col-xs col-md-3">
        <p><strong>BLUETOOTH</strong><br>
        <%= @computer.macbluetooth %></p>
      </div>
    <% end %>
    <div class="col-xs col-md-3">
      <p><strong>Conectado a:</strong><br>
        <%= @computer.Network.location if @computer.Network %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-md">
      <p><strong>Notas:</strong><br>
      <%= @computer.notes %></p>
    </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @computer} %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs col-md">
      <span class="pull-right">
        <br>
        <%= link_to 'Editar', edit_computer_path(@computer), class:'btn btn-default btn-lg' %> |
        <%= link_to 'Regresar', computers_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>