<%= form_for(@statistic) do |f| %>
  <% if @statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statistic.errors.count, "error") %> prohibida la estadistica de ser salvada:</h2>
      <ul>
      <% @statistic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs col-md-3">
        <%= f.label :Delegacion %><br>
        <%= f.collection_select(:Delegation_id, Delegation.all, :id, :name, {:include_blank => true }, 
        {class:'btn btn-default dropdown-toggle smfont delegations4statistics'} ) %>
      </div>
      <div class="col-xs col-md-4">
        <%= f.label :Dependencia %><br>
        <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
        {class:'btn  btn-default dropdown-toggle smfont dependencies4statistics'}) %>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs col-md-2">
        <%= f.label :MES %><br>
        <%= f.select :month, [ ['ENERO'], ['FEBRERO'], ['MARZO'], ['ABRIL'], ['MAYO'], ['JUNIO'], ['JULIO'],
                                 ['AGOSTO'], ['SEPTIEMBRE'], ['OCTUBRE'], ['NOVIEMBRE'], ['DICIEMBRE'] ], {}, 
                                 {class:'btn btn-default dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs col-md-2">
        <%= f.label :'Hojas usadas' %><br>
        <%= f.number_field :sheets, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-2">        
        <%= f.label :consumible %><br>
        <%= f.number_field :consumable, class:'form-control smfont' %>
      </div>
      <div class="col-xs-4 col-md-2 printerdiv">
        <%= f.label :Impresora %><br>
        <%= f.collection_select(:Printer_id, Printer.all.limit(1), :id, :ninventary, {include_blank: true},
        class:'btn  btn-default dropdown-toggle smfont printers4statistics') %>
      </div>
      <div class="col-xs-4 col-md-2 copydiv">        
        <%= f.label :Copiadora %><br>
        <%= f.collection_select(:Copier_id, Copier.all.limit(1), :id, :ninventary, {include_blank: true},
        class:'btn  btn-default dropdown-toggle smfont copiers4statistics') %>
      </div>
    </div>
    <div class="row large-padding">
      <div class="col-xs-4">       
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
