<p id="notice"><%= notice %></p>
<div class="container be-gray ">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p><strong>Delegacion</strong><br>
        <%= @statistic.Delegation.name if @statistic.Delegation %></p>
     
      <p><strong>Dependencia</strong><br>
        <%= @statistic.Dependency.name if @statistic.Dependency %></p>
     
      <p><strong>Mes:</strong>
      <%= @statistic.month %></p>
     
      <p><strong>Hojas empleadas:</strong>
      <%= @statistic.sheets %></p>
  
      <p><strong>Consumible:</strong>
      <%= @statistic.consumable %></p>
  
        <% if @statistic.Copier %></p>
          <p><strong>Copier:</strong>
          <%= @statistic.Copier.model %></p>
        <% end %></p>

        <% if @statistic.Printer %></p>
          <p><strong>Printer:</strong>
          <%= @statistic.Printer.model %></p>
        <% end %></p>
    </div>
    <%= render partial:'layouts/user_mod', locals:{:entity => @statistic} %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-right">
        <br>
        <%= link_to 'Editar', edit_statistic_path(@statistic), class:'btn btn-default btn-lg' %> |
        <%= link_to 'Regresar', statistics_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>