<%= form_for(@osy) do |f| %>
  <% if @osy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@osy.errors.count, "error") %> prohibited this osy from being saved:</h2>

      <ul>
      <% @osy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container smfont">
    <div class="row">
      <div class="col-xs-8 col-md-4 be-round_ligth_gray large-padding">
        <%= f.label :Nombre %><br>
        <%= f.text_field :name, class:'form-control' %>
      </div>
      <div class="col-xs-4 col-md-1 be-round_ligth_gray large-padding">
        <%= f.label :version %><br>
        <%= f.select :version, [ ['x32'], ['x64'] ], {:include_blank => true}, {class:'btn btn-default dropdown-toggle smfont'} %><br>
      </div>
        
    </div>
    <div class="row">
      <div class="col-xs col-md-5 be-round_ligth_gray large-padding">
         <%= f.submit %> 
      </div>
    </div>
  </div>
<% end %>

