<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @osy.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @osy.version %>
</p>

<%= link_to 'Edit', edit_osy_path(@osy), class:'btn btn-default  btn-sm' %> |
<%= link_to 'Back', osies_path, class:'btn btn-default  btn-sm' %>
