
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        <% unless @eq.nil? %>    
            <h4 class="modal-title">
                
                    <% case  @eq.class.name %>
                    <%   when 'Computer' %>
                    <%=      ' COMPUTADORA' %>
                    <%   when 'Printer' %>
                    <%=      ' IMPRESORA' %>
                    <%   when 'Copier' %> 
                    <%=     ' COPIADORA' %>
                    <%   when 'Scanner' %>
                    <%=      ' ESCANER' %>
                    <%   when 'Power' %> 
                    <%=      ' REGULADOR/UPS' %>
                    <%   when 'Telephone' %>
                    <%=      ' TELEFONO' %>
                    <%   when 'Screen' %>
                    <%=      ' MONITOR' %>
                    <% end %>
               
            </h4>
        </div>
        <div class="modal-body">
           <div class='row'>
               <div class='col-xs col-md-3'>
                   INVENTARIO:<br> <strong> <%= @eq.ninventary %> </strong>
               </div>
               <div class='col-xs col-md-3'>
                   SERIE:<br> <strong> <%= @eq.nserie %> </strong>
               </div>
               <div class='col-xs col-md-3'>
                   MARCA:<br> <strong> <%= @eq.brand %> </strong>
               </div>
               <div class='col-xs col-md-3'>
                   MODELO: <strong> <%= @eq.model %> </strong>
               </div>
            </div>
            <div class='row'>
               <div class='col-xs col-md-8'>
                   DEPENDENCIA:<br> <strong> <%= @eq.Dependency.name %> </strong>
               </div>
               
           </div>
        </div>
        <% end %>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        </div>
      </div>
    </div>