<div class='container-fluid'>
    <!--<div class='row'>-->
    <!--    <div class='col-xs col-md-12'>-->
            <table id='tblEqRepo' style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%;
            border: 1px solid black;">
                <thead>
                    <tr>
                        <th>NO OFICIAL</th>
                        <th>NO SERIE</th>
                        <th>DEPENDENCIA</th>
                        <th>DESCRIPCION</th>
                        <th>MODELO</th>
                    </tr>
                </thead>
                <tbody>
                    <% @brokens.each do |broken| %>
                    <%  case broken.gender                       %>
                    <%   when 'COMP'                             %>
                    <%    eq = Computer.find(broken.idEquipment) %>
                    <%    desc = 'COMPUTADORA'                   %>
                    <%   when 'PRINT'                            %>
                    <%    eq = Printer.find(broken.idEquipment)  %>
                    <%    desc = 'IMPRESORA'                     %>
                    <%   when 'COPY'                             %>
                    <%    eq = Copier.find(broken.idEquipment)   %>
                    <%    desc = 'COPIADORA'                     %>
                    <%   when 'POW'                              %>
                    <%    eq = Power.find(broken.idEquipment)    %>
                    <%    desc = 'REGULADOR/UPS'                 %>
                    <%   when 'SCREEN'                           %>
                    <%    eq = Screen.find(broken.idEquipment)   %>
                    <%    desc = 'MONITOR'                       %>
                    <%  end                                      %>
                    <%  if eq                                    %>
                    <tr>
                        <td><%= eq.ninventary %></td>
                        <td><%= eq.nserie %></td>
                        <td><%= eq.Dependency.name %></td>
                        <td><%= desc %></td>
                        <td><%= eq.model %></td>
                    </tr>
                    <tr>
                        <td><%= image_tag eq.picOf, size: "150x100" %></td>
                        <!--<td></td> -->
                        <td><%= image_tag eq.picSerie, size: "180x100" %></td>
                        <td></td>
                        <td><%= image_tag eq.pic, size: "190x200" %></td>
                    </tr>
                    <%  end                                      %>
                    <% end                                       %>
                </tbody>
            </table>
    <!--    </div>-->
    <!--</div>-->
</div>