<style>
    @media print {
      @page { margin: 0; }
      body { margin: 1.6cm; }
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th,td {
            padding: 4px 4px 4px 4px ;
            text-align: center ;
    }
    th { border-bottom: 2px solid #333333 ; }
    td { border-bottom: 1px dotted #999999 ; }
    tfoot td {
        border-bottom-width: 0px ;
        border-top: 2px solid #333333 ;
        padding-top: 20px ;
    }

</style>
<div class='container-fluid'>
    <!--<div class='row'>-->
    <!--    <div class='col-xs col-md-12'>-->
            <table id='tblEqRepo'>
                <thead>
                    <tr>
                        <th>NO OFICIAL</th>
                        <th>NO SERIE</th>
                        <th>DEPENDENCIA</th>
                        <th>DESCRIPCION</th>
                        <th>MODELO</th>
                    </tr>
                </thead>
                <tbody>
                    <% @brokens.each do |broken| %>
                    <%  case broken.gender                       %>
                    <%   when 'COMP'                             %>
                    <%    eq = Computer.find(broken.idEquipment) %>
                    <%    desc = 'COMPUTADORA'                   %>
                    <%   when 'PRINT'                            %>
                    <%    eq = Printer.find(broken.idEquipment)  %>
                    <%    desc = 'IMPRESORA'                     %>
                    <%   when 'COPY'                             %>
                    <%    eq = Copier.find(broken.idEquipment)   %>
                    <%    desc = 'COPIADORA'                     %>
                    <%   when 'POW'                              %>
                    <%    eq = Power.find(broken.idEquipment)    %>
                    <%    desc = 'REGULADOR/UPS'                 %>
                    <%   when 'SCREEN'                           %>
                    <%    eq = Screen.find(broken.idEquipment)   %>
                    <%    desc = 'MONITOR'                       %>
                    <%  end                                      %>
                    <%  if eq                                    %>
                    <tr>
                        <td><%= eq.ninventary %></td>
                        <td><%= eq.nserie %></td>
                        <td><%= eq.Dependency.name %></td>
                        <td><%= desc %></td>
                        <td><%= eq.model %></td>
                    </tr>
                    <tr>
                        <td colspan="2"><%= image_tag broken.picOf, size: "150x100" %></td>
                        <td colspan="2"><%= image_tag broken.picSerie, size: "180x100" %></td>
                        <td><%= image_tag broken.pic, size: "190x200" %></td>
                    </tr>
                    <%  end                                      %>
                    <% end                                       %>
                </tbody>
            </table>
    <!--    </div>-->
    <!--</div>-->
</div>