<div class="container-fluid be-soft_purple">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
      <h1>Listado Equipos dados de Baja</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6">
      <span class="pull-left"><%= will_paginate @brokens %></span>
    </div>
    <div class="col-xs-6 col-md-6">
      <span class="pull-right"><%= button_to 'Agregar a Bajas', new_broken_path, method: :get, class:'btn btn-default btn-lg be-gray' %>
      </span>
    </div>
  </div>
</div>
<div class='container'>
  <div class="row">
    <div class="col-xs col-md-8">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>DELEGACION</th>
            <th>DEPENDENCIA</th>
            <th>TIPO</th>
            <th>IDENTIFICADOR</th>
            <th>
              <%= link_to '', brokenRepo_brokens_url(:format => 'pdf'), :class => 'btn btn-sm btn-default glyphicon glyphicon-print be-gray', align:'center' %> 
              <%#= link_to '', brokenRepo_brokens_url, :class => 'btn btn-sm btn-default glyphicon glyphicon-print be-gray', align:'center' %> 
            </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @brokens.each do |broken| %>
            <tr>
              <td><%= broken.Delegation.name %></td>
              <td><%= broken.Dependency.name %></td>
              <td>
                <% case broken.gender     %>
                <%  when 'COMP'           %>
                <%    pc = Computer.find(broken.idEquipment) %>
                <%    if pc.ninventary.size > 0              %>
                <%      @iden = pc.ninventary                %>
                <%    else                                   %>
                <%      @iden = pc.nserie                    %>
                <%    end                                    %>
                <%=   'COMPUTADORA'                          %>
                <%  when 'PRINT'                             %>
                <%    pr = Printer.find(broken.idEquipment)  %>
                <%    if pr.ninventary.size > 0              %>
                <%      @iden = pr.ninventary                %>
                <%    else                                   %>
                <%      @iden = pr.nserie                    %>
                <%    end                                    %>
                <%=   'IMPRESORA'                            %>
                <%  when 'COPY'                              %>
                <%    cp = Copier.find(broken.idEquipment)   %>
                <%    if cp.ninventary.size > 0              %>
                <%      @iden = cp.ninventary                %>
                <%    else                                   %>
                <%      @iden = cp.nserie                    %>
                <%    end                                    %>
                <%=   'COPIADORA'                            %>
                <%  when 'SCREEN'                            %>
                <%    cp = Copier.find(broken.idEquipment)   %>
                <%    if cp.ninventary.size > 0              %>
                <%      @iden = cp.ninventary                %>
                <%    else                                   %>
                <%      @iden = cp.nserie                    %>
                <%    end                                    %>
                <%=   'MONITOR'                              %>
                <%  when 'POW'                               %>
                <%    cp = Copier.find(broken.idEquipment)   %>
                <%    if cp.ninventary.size > 0              %>
                <%      @iden = cp.ninventary                %>
                <%    else                                   %>
                <%      @iden = cp.nserie                    %>
                <%    end                                    %>
                <%=   'REGULADOR/UPS'                        %>
                <% end                                       %>
              </td>
              <td> <%= @iden %> </td>
              <td><%= link_to 'Show', broken %></td>
              <td><%= link_to 'Edit', edit_broken_path(broken),remote:true %></td>-
              <td><%= link_to 'Destroy', broken, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="modal-EditWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>