<p id="notice"><%= notice %></p>

<p>
  <strong>Idequipment:</strong>
  <%= @broken.idEquipment %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @broken.notes %>
</p>

<p>
  <strong>Picof:</strong>
  <%= @broken.picOf %>
</p>

<p>
  <strong>Picserie:</strong>
  <%= @broken.picSerie %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @broken.pic %>
</p>

<%= link_to 'Edit', edit_broken_path(@broken) %> |
<%= link_to 'Back', brokens_path %>
