<h1>PANEL</h1>
<p>SELECCIONAR LA ACCION</p>
<div>
	<table>
		<tr>
			<td>
		 		<%= button_to 'DEPENDENCIAS', dependencies_path, :method => :get %>
		  </td>
		 	<td>
		 		<%= button_to 'UPS/REGULADORES', powers_path, :method => :get %>
		 	</td>
		 	<td>
		 		<%= button_to 'USUARIOS', workers_path, :method => :get %>
		 	</td>
		 	<td>
		 		<%= button_to 'NETWORKS', networks_path, :method => :get %>
		 	</td>
		 	<td>
		 		<%= button_to 'IMPRESORAS', printers_path, :method => :get %>
		 	</td>
		 	<td>
		 		<%= button_to 'COPIADORAS', copiers_path, :method => :get %>
		 	</td>
		 	<td>
		 		<%= button_to 'ESTADISTICAS', statistics_path, :method => :get %>
		 	</td>
		 	<td>
		 		<%= button_to 'CONSUMIBLES', consumables_path, :method => :get %>
		 </td>
		 <td>
		 		<%= button_to 'EQUIPOS DE VOZ', telephones_path, :method => :get %>
		 </td>
	 	</tr>
 	</table>
</div>
