<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> No se pudo salvar el usuario:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-fluid large-padding be-round_ligth_gray">
  <div class="row">
    <div class="col-xs-3">      
      <%= f.label :Nombre %><br>
      <%= f.text_field :name, class:'form-control smfont' %>      
      <%= f.label :Email %><br>
      <%= f.text_field :email, class:'form-control smfont' %>
    </div>
    <div class="col-xs-4">
      <%= f.label :Perfil %><br>
      <%= f.text_area :profile, size:"60x3", class:'form-control smfont' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.label :Dependencia %><br>
      <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
        {class:'btn  dropdown-toggle smfont'}) %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      
        <br>
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>  
<% end %>
