<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado de Usuarios</h1>
</div>
<div class="container-fluid">
  <div class="table-responsive no-margins">
    <table class="table table-hover table-striped">
      <thead>
        <th>Nombre</th>
        <th>Perfil</th>
        <th>Dependencia</th>
        <th></th>
      </thead>
      <tbody>
        <% @workers.each do |worker| %>
          <tr>
            <td> <%= worker.name %></td>
            <td> <%= worker.profile %>/td>
            <td> <%= worker.Dependency.name if worker.Dependency %></td>
            <td>
              <%= link_to 'Mostrar', worker, class:'btn btn-default  btn-sm' %>
              <%= link_to 'Editar', edit_worker_path(worker), class:'btn btn-default  btn-sm' %>
              <%= link_to 'Borrar', worker, method: :delete, data: { confirm: 'Esta seguro?' }, class:'btn btn-default  btn-sm' %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @workers %>
<br>
<%= link_to 'Agregar Usuario', new_worker_path, class:'btn btn-default  btn-sm' %>
