<p id="notice"><%= notice %></p>

<h1>Listado de Usuarios</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="box">
        <strong>Nombre</strong>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="box">
        <strong>Perfil</strong>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="box">
        <strong>Dependencia</strong>
      </div>
    </div>
  </div>
  <% @workers.each do |worker| %>
    <div class="row">
      <div class="col-lg">
        <div class="box">
          <%= worker.name %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= worker.profile %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= worker.Dependency.name %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= link_to 'Mostrar', worker %></td>
          <%= link_to 'Editar', edit_worker_path(worker) %></td>
          <%= link_to 'Borrar', worker, method: :delete, data: { confirm: 'Esta seguro?' } %>
        </div>
      </div>
    </div>

  <% end %>
</div>
<%= will_paginate @workers %>
<br>
<br>

<%#= link_to 'Agregar Usuario', new_worker_path %>
<%= button_to 'Agregar usuario', new_worker_path, method: :get %>