<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray ">
  <div class="row">
    <div class="col-lg">

      	<strong>Nombre:</strong>
	  		<%= @worker.name %>

    </div>
  </div>
  <div class="row">
    <div class="col-lg">

      	<strong>Email:</strong>
	  		<%= @worker.email %>

    </div>
  </div>
  <div class="row">
    <div class="col-lg">

      	<strong>Perfil:</strong>
	  		<%= @worker.profile %>

    </div>
  </div>
  <div class="row">
    <div class="col-lg">

      	<strong>Dependencia:</strong>
	  		<%= @worker.Dependency.name if @worker.Dependency   %>

    </div>
  </div>
</div>
<br>

<%= link_to 'Editar', edit_worker_path(@worker) , class:'btn btn-default btn-sm' %> |
<%= link_to 'Regresar', workers_path , class:'btn btn-default btn-sm' %>
