<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray large-padding ">
  <div class="row">
    <div class="col-xs large-padding">
      <strong>Nombre:</strong><br>
	  	<%= @worker.name %><br>
      <strong>Email:</strong><br>
	  	<%= @worker.email %><br>
      <strong>Perfil:</strong><br>
	  	<%= @worker.profile %><br>
      <strong>Dependencia:</strong><br>
	  	<%= @worker.Dependency.name if @worker.Dependency %><br>
    </div>
  </div>
</div>
<br>

<%= link_to 'Editar', edit_worker_path(@worker) , class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', workers_path , class:'btn btn-default btn-lg' %>
