<%= form_for(@telephone) do |f| %>
  <% if @telephone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telephone.errors.count, "error") %> prohibited this telephone from being saved:</h2>

      <ul>
      <% @telephone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs-1">        
        <%= f.label :Inventario %><br> 
        <%= f.text_field :ninventary, class:'form-control smfont' %>
      </div>
      <div class="col-xs-2">        
        <%= f.label :Serie %><br> 
        <%= f.text_field :nserie, class:'form-control smfont' %>
      </div>
      <div class="col-xs-2">        
        <%= f.label :Marca %><br> 
        <%= f.select :brand, [ ['PANASONIC'], [''] ], {include_blank: true}, {class:'btn  dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs-2">        
        <%= f.label :Modelo %><br>
        <%= f.text_field :model, class:'form-control smfont' %>
      </div>
      <div class="col-xs-2">        
        <%= f.label :Tipo %><br>
        <%= f.select :genus, [ ['VOIP'], ['ANALOGICO'] ], {include_blank: true}, {class:'btn  dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs-1">        
        <%= f.label :Numero %><br>
        <%= f.text_field :number, class:'form-control smfont' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">        
          <%= f.label :ID_Factura %><br>
          <%= f.text_field :nfactura, class:'form-control smfont' %>
      </div>
      <div class="col-xs-3">        
          <%= f.label :Fecha_Compra %><br>
          <%= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]} %>
      </div>
      <div class="col-xs-4">        
          <%= f.label :Dependencia %><br>
          <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
          {class:'btn  dropdown-toggle smfont'} ) %>
      </div>
      <div class="col-xs-4">        
          <%= f.label :Notas %><br>
          <%= f.text_area :notes, size:"60x2", class:'form-control smfont' %>
      </div>
    </div> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
