<%= form_for(@telephone) do |f| %>
  <% if @telephone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telephone.errors.count, "error") %> prohibited this telephone from being saved:</h2>

      <ul>
      <% @telephone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container  be-round_ligth_gray">
    <%= render partial:'layouts/dd', locals:{:f => f} %>
    <div class="row">
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Inventario %><br> 
        <%= f.text_field :ninventary, class:'form-control smfont' %>
      </div>
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Serie %><br> 
        <%= f.text_field :nserie, class:'form-control smfont' %>
      </div>
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Modelo %><br>
        <%= f.collection_select(:model, BrandModel.where(description:"TELEFONO"), :modelx, :modelx, 
        {:include_blank => true }, {class:'btn  dropdown-toggle smfont'} ) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Numero %><br>
        <%= f.text_field :number, class:'form-control smfont' %>
      </div>
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Marca %><br> 
        <%= f.collection_select(:brand, BrandModel.where(description:"TELEFONO").group([:id,:brandx]).order(:brandx), :brandx, :brandx, 
          {:include_blank => true }, {class:'btn  dropdown-toggle smfont'} ) %>
      </div>
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Tipo %><br>
        <%= f.select :genus, [ ['VOIP'], ['ANALOGICO'] ], {include_blank: true}, {class:'btn  dropdown-toggle smfont option_type'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Factura %><br>
        <%= f.text_field :nfactura, class:'form-control smfont' %>
      </div>
      <div class="col-xs-8">        
        <%= f.label :Compra %><br>
        <%= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-md-5">        
        <%= f.label :Dependencia %><br>
        <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
          {class:'btn  dropdown-toggle smfont'} ) %><br>
                 
      </div>
    </div>
    <div class="row">
      <div class="net">
        <div class="col-xs-5 col-md-2">
          <%= f.label :Ip %><br>
          <%= f.text_field :ip, class:'form-control smfont' %>
        </div>
        <div class="col-xs-5 col-md-2">
          <%= f.label :Mac %><br>
          <%= f.text_field :mac, class:'form-control smfont' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7 col-md-7">
        <%= f.label :Notas %><br>
        <%= f.text_area :notes, size:"45x2", class:'form-control smfont' %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
