<p id="notice"><%= notice %></p>

<h2>Listado de Equipo Telefonico</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>No Inventario</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>No Serie</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Marca</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Modelo</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Tipo</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Numero</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Dependencia</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
      </div>
    </div>
  </div>
  <% @telephones.each do |telephone| %>
    <div class="row">
      <div class="col-lg">
        <div class="box">
          <%= telephone.ninventary %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.nserie %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.brand %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.model %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.genus %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.number %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.Dependency.name %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= link_to 'Show', telephone %>
          <%= link_to 'Edit', edit_telephone_path(telephone) %>
          <%= link_to 'Destroy', telephone, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Telephone', new_telephone_path %>
