<p id="notice"><%= notice %></p>

<h2>Listado de Equipo Telefonico</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>No Inventario</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>No Serie</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Marca</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Modelo</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Tipo</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Numero</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
        <strong>Dependencia</strong>
      </div>
    </div>
    <div class="col-lg">
      <div class="box">
      </div>
    </div>
  </div>
  <% @telephones.each do |telephone| %>
    <div class="row">
      <div class="col-lg">
        <div class="box">
          <%= telephone.ninventary %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.nserie %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.brand %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.model %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.genus %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.number %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= telephone.Dependency.name %>
        </div>
      </div>
      <div class="col-lg">
        <div class="box">
          <%= link_to 'Show', telephone %>
          <%= link_to 'Edit', edit_telephone_path(telephone) %>
          <%= link_to 'Destroy', telephone, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!--
  <table>
    <thead>
      <tr>
        <th>No Inventario</th>
        <th>No Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>ID factura</th>
        <th>Fecha compra</th>
        <th>Tipo</th>
        <th>Numero</th>
        <th>Notas</th>
        <th>Dependencia</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @telephones.each do |telephone| %>
        <tr>
          <td><%= telephone.ninventary %></td>
          <td><%= telephone.nserie %></td>
          <td><%= telephone.brand %></td>
          <td><%= telephone.model %></td>
          <td><%= telephone.nfactura %></td>
          <td><%= telephone.buy_date %></td>
          <td><%= telephone.genus %></td>
          <td><%= telephone.number %></td>
          <td><%= telephone.operational %></td>
          <td><%#= telephone.reazon %></td>
          <td><%#= telephone.notes %></td>
          <td><%= telephone.Dependency.name %></td>
          <td><%= link_to 'Show', telephone %></td>
          <td><%= link_to 'Edit', edit_telephone_path(telephone) %></td>
          <td><%= link_to 'Destroy', telephone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
-->
<br>

<%= link_to 'New Telephone', new_telephone_path %>
