<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h2>Listado de Equipo Telefonico</h2>
</div>
<div class="container-fluid">
  <div class="table-responsive no-margins">
    <table class="table table-hover table-striped">
      <thead>
        <th>Inventario</th>
        <th>Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Dependencia</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @telephones.each do |telephone| %>
          <tr>
            <td> <%= telephone.ninventary %></td>
            <td> <%= telephone.nserie %></td>
            <td> <%= telephone.brand %></td>
            <td> <%= telephone.model %></td>
            <td> <%= telephone.genus %></td>
            <td> <%= telephone.number %></td>
            <td> <%= telephone.Dependency.name if telephone.Dependency %></td>
            <td> 
              <%= link_to 'Mostrar', telephone, class:'btn btn-default  btn-sm' %>
              <%= link_to 'Editar', edit_telephone_path(telephone), class:'btn btn-default  btn-sm' %>
              <%= link_to 'Borrar', telephone, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default  btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @telephones %>
<br>
<%= link_to 'Agregar', new_telephone_path, class:'btn btn-default  btn-sm' %>
  