<p id="notice"><%= notice %></p>

<p>
  <strong>Ninventary:</strong>
  <%= @telephone.ninventary %>
</p>

<p>
  <strong>Nserie:</strong>
  <%= @telephone.nserie %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @telephone.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @telephone.model %>
</p>

<p>
  <strong>Buy date:</strong>
  <%= @telephone.buy_date %>
</p>

<p>
  <strong>Genus:</strong>
  <%= @telephone.genus %>
</p>

<p>
  <strong>Number:</strong>
  <%= @telephone.number %>
</p>

<p>
  <strong>Operational:</strong>
  <%= @telephone.operational %>
</p>

<p>
  <strong>Reazon:</strong>
  <%= @telephone.reazon %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @telephone.notes %>
</p>

<p>
  <strong>Dependency:</strong>
  <%= @telephone.Dependency %>
</p>

<%= link_to 'Edit', edit_telephone_path(@telephone) %> |
<%= link_to 'Back', telephones_path %>
