<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>No Inventario:</strong>
        <%= @telephone.ninventary %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>No serie:</strong>
        <%= @telephone.nserie %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
         <strong>Marca:</strong>
        <%= @telephone.brand %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Model:</strong>
        <%= @telephone.model %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Tipo:</strong>
        <%= @telephone.genus %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Fecha de Compra:</strong>
        <%= @telephone.buy_date %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Numero:</strong>
        <%= @telephone.number %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
         <strong>Notes:</strong>
        <%= @telephone.notes %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="box">
        <strong>Dependencia:</strong>
        <%= @telephone.Dependency.name %>
      </div>
    </div>
  </div>
</div>
<!--
  <p>
    <strong>No Inventario:</strong>
    <%= @telephone.ninventary %>
  </p>

  <p>
    <strong>No serie:</strong>
    <%= @telephone.nserie %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= @telephone.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= @telephone.model %>
  </p>
  <p>
    <strong>Tipo:</strong>
    <%= @telephone.genus %>
  </p>

  <p>
    <strong>Fecha de Compra:</strong>
    <%= @telephone.buy_date %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= @telephone.number %>
  </p>

  <p>
    <strong>Operational:</strong>
    <%= @telephone.operational %>
  </p>

  <p>
    <strong>Reazon:</strong>
    <%= @telephone.reazon %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @telephone.notes %>
  </p>

  <p>
    <strong>Dependencia:</strong>
    <%= @telephone.Dependency.name %>
  </p>
-->
<br>

<%= link_to 'Editar', edit_telephone_path(@telephone) %> |
<%= link_to 'Regresar', telephones_path %>
