<p id="notice"><%= notice %></p>
<div class="container be-gray">
  <div class="row">
    <div class="col-xs">      
      <p><strong>No Inventario:</strong>
      <%= @telephone.ninventary %><strong>
   
      <p><strong>No serie:</strong>
      <%= @telephone.nserie %><strong>
 
      <p><strong>Marca:</strong>
      <%= @telephone.brand %><strong>

      <p><strong>Model:</strong>
      <%= @telephone.model %><strong>

      <p><strong>Tipo:</strong>
      <%= @telephone.genus %><strong>

      <p><strong>Fecha de Compra:</strong>
      <%= @telephone.buy_date %><strong>

      <p><strong>Numero:</strong>
      <%= @telephone.number %><strong>
      <% unless @telephone.ip.blank? %>
        <p><strong>IP:</strong>
        <%= @telephone.ip  %></p>
      <% end %>

      <% unless @telephone.mac.blank? %>
        <p><strong>Mac:</strong>
        <%= @telephone.mac  %></p>
      <% end %>

      <p><strong>Notas:</strong>
      <%= @telephone.notes %><strong>

      <p><strong>Dependencia:</strong>
      <%= @telephone.Dependency.name if @telephone.Dependency %><strong>
    </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @telephone} %>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-right">
        <br>
        <%= link_to 'Editar', edit_telephone_path(@telephone), class:'btn btn-default btn-lg' %> |
        <%= link_to 'Regresar', telephones_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>