<p id="notice"><%= notice %></p>

<p>
  <strong>No Inventario:</strong>
  <%= @telephone.ninventary %>
</p>

<p>
  <strong>No serie:</strong>
  <%= @telephone.nserie %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @telephone.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @telephone.model %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @telephone.genus %>
</p>

<p>
  <strong>Fecha de Compra:</strong>
  <%= @telephone.buy_date %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @telephone.number %>
</p>
<!--
<p>
  <strong>Operational:</strong>
  <%= @telephone.operational %>
</p>

<p>
  <strong>Reazon:</strong>
  <%= @telephone.reazon %>
</p>
-->
<p>
  <strong>Notes:</strong>
  <%= @telephone.notes %>
</p>

<p>
  <strong>Dependencia:</strong>
  <%= @telephone.Dependency.name %>
</p>

<%= link_to 'Editar', edit_telephone_path(@telephone) %> |
<%= link_to 'Regresar', telephones_path %>
