<%= form_for(@processor) do |f| %>
  <% if @processor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processor.errors.count, "error") %> no se puede salvar este procesador!</h2>

      <ul>
      <% @processor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row be-soft_gray large-padding">
      <div class="col-xs-2 ">
        <%= f.label :MARCA %><br>
        <%= f.select :brand, [ ['Intel(R)'], ['AMD(R)'] ], {:include_blank => true}, {class:'btn  dropdown-toggle smfont'} %>
          <%#= f.text_field : %>      
      </div>
      <div class="col-xs-2 ">
        <%= f.label :TIPO %><br>
        <%= f.select :genus, [ ['Atom(TM)'], ['Core(TM)'], ['Celeron(R)'] ], {:include_blank => true}, 
          {class:'btn  dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs-1 ">
        <%= f.label :MODELO %><br>
        <%= f.text_field :modelp, class:'form-control smfont' %>
      </div>
      <div class="col-xs-1 ">
        <%= f.label :speed %><br>
        <%= f.text_field :speed, class:'form-control smfont' %>
      </div>
        </div>
      </div>
    </div>
  <div class="actions">
    <br>
    <%= f.submit %>
  </div>
<% end %>
