<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado Procesadores</h1>
</div>
<div class='container-fluid'>
  <div class='row be-soft_red'>
    <div class='col-xs-1'>      
      <strong>MARCA</strong>
    </div>
    <div class='col-xs-1'>     
      <strong>TIPO</strong>
    </div>
    <div class='col-xs-2'>
      <strong>MODELO</strong>
    </div>
    <div class='col-xs-1'>
      <strong>VELOCIDAD</strong>
    </div>
  </div>
  <% @processors.each do |processor| %>
    <div class="row <%= cycle('be-soft_gray','odd')%>">
      <div class='col-xs-1'>
        <%= processor.brand %>
      </div>
      <div class='col-xs-1'>
        <%= processor.genus %>
      </div>
      <div class='col-xs-2'>
        <%= processor.modelp %>
      </div>
      <div class='col-xs-1'>
        <%= processor.speed %>
      </div>
      <div class='col-xs-3'>
        <%= link_to 'Mostrar', processor, class:'btn btn-default  btn-sm' %>
        <%= link_to 'Editar', edit_processor_path(processor), class:'btn btn-default  btn-sm' %>
        <%= link_to 'Borrar', processor, method: :delete, data: { confirm: 'Esta seguro?' }, class:'btn btn-default  btn-sm' %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Agregar Procesador', new_processor_path %>
