<p id="notice"><%= notice %></p>
<div class='container-fluid'>
	<div class='row be-gray large-padding'>
		<div class='col-xs'>
				<p>
				  <strong>Marca:</strong>
				  <%= @processor.brand %>
				</p>
				<p>
				  <strong>Tipo:</strong>
				  <%= @processor.genus %>
				</p>
				<p>
				  <strong>Modelo:</strong>
				  <%= @processor.modelp %>
				</p>
				<p>
				  <strong>Velocidad:</strong>
				  <%= @processor.speed %>
				</p>
		</div>
	</div>
</div>

<%= link_to 'Editar', edit_processor_path(@processor), class:'btn btn-default  btn-lg' %> |
<%= link_to 'Regresar', processors_path, class:'btn btn-default  btn-lg' %>
