<%= form_for(@printer) do |f| %>
  <% if @printer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printer.errors.count, "error") %> prohibida esta impresora de ser salvada:</h2>
      <ul>
      <% @printer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container large-padding be-round_ligth_gray">
    <%= render partial:'layouts/dd', locals:{:f => f} %>
    <div class="row">
      <div class="col-xs col-md-2">      
        <%= f.label :Inventario %><br>
        <%= f.text_field :ninventary, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-2">       
        <%= f.label :Serie %><br>
        <%= f.text_field :nserie, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-2">        
        <%= f.label :Factura %><br>
        <%= f.text_field :nfactura, class:'form-control smfont' %>
      </div>
      <div class="col-xs col-md-2">        
        <%= f.label :Marca %><br>
        <%= f.select :brand, BrandModel.select(:brandx).where(description:'IMPRESORA').uniq.pluck(:brandx), 
          {:include_blank => true }, {class:'btn  dropdown-toggle smfont brands4printer'}  %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-3">       
        <%= f.label :Modelo %><br>
        <%= f.collection_select(:model, BrandModel.where(description:"IMPRESORA"), :modelx, :modelx, 
        {:include_blank => true }, {class:'btn dropdown-toggle smfont models4printer'} ) %>
      </div>
      <div class="col-xs col-md-2">        
        <%= f.label :Tipo %><br>
        <%= f.select :genus, [ ['Laser Monocromatica'], ['Laser Color'], ['Injeccion de Tinta'], ['Matricial'] ], 
          {include_blank: true}, {class:'btn  dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs col-md-3">       
          <%= f.label :Fecha_de_compra %><br>
          <%= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]}, {class:'btn dropdown-toggle smfont'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-1">
        <%= f.label :WIFI? %><br>
        <%= f.check_box :wifi, class:'chkwifip' %>
      </div>
      <div class="pwifi">
        <div class="col-xs col-md-2">
          <%= f.label :Mac_WIFI %><br>
          <%= f.text_field :wifi_mac, placeholder:'00-00-00-00-00-00', class:'form-control smfont' %>
        </div>
        <div class="col-xs col-md-2">
          <%= f.label :IP_WIFI %><br>
          <%= f.text_field :wifi_ip, placeholder:'000.000.000.000',  class:'form-control smfont' %>
        </div>
        <div class="col-xs col-md-2">
          <%= f.label :MASK_WIFI %><br>
          <%= f.text_field :wifi_mask, placeholder:'255.255.255.255', class:'form-control smfont' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-1">
        <%= f.label :NETWORK? %><br>
        <%= f.check_box :net, class:'chknetp' %>
      </div>
      <div class="pnet">
        <div class="col-xs col-md-2">
          <%= f.label :Mac_WIFI %><br>
          <%= f.text_field :net_mac, placeholder:'00-00-00-00-00-00', class:'form-control smfont' %>
        </div>
        <div class="col-xs col-md-2">
          <%= f.label :IP_WIFI %><br>
          <%= f.text_field :net_ip, placeholder:'000.000.000.000',  class:'form-control smfont' %>
        </div>
        <div class="col-xs col-md-2">
          <%= f.label :MASK_WIFI %><br>
          <%= f.text_field :net_mask, placeholder:'255.255.255.255', class:'form-control smfont' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pnet-con">
        <div class="col-xs col-md-8">
          <%= f.label 'RED' %><br>
          <%= f.collection_select(:Network_id, Network.all, :id, :location, {:include_blank => true}, 
          {class:'btn  dropdown-toggle smfont'} ) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= f.label :Notas %><br>
        <%= f.text_area :notes, size:"50x2", class:'form-control smfont' %>
        <br>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
