<%= form_for(@printer) do |f| %>
  <% if @printer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printer.errors.count, "error") %> prohibida esta impresora de ser salvada:</h2>
      <ul>
      <% @printer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs-4 col-md-2">      
        <%= f.label :Inventario %><br>
        <%= f.text_field :ninventary, class:'form-control smfont' %>
      </div>
      <div class="col-xs-4 col-md-2">       
        <%= f.label :Serie %><br>
        <%= f.text_field :nserie, class:'form-control smfont' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-2">       
        <%= f.label :Modelo %><br>
        <%= f.text_field :model, class:'form-control smfont' %>
      </div>
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Factura %><br>
        <%= f.text_field :nfactura, class:'form-control smfont' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-2">        
        <%= f.label :Marca %><br>
        <%= f.select :brand, [ ['HP'], ['Lexmark'], ['Brother'], ['Canon'], ['Xerox'], ['Epson'], ['Samsung'], [''] ],
          {include_blank: true}, {class:'btn  dropdown-toggle smfont'} %>
      </div>
      <div class="col-xs-2">        
        <%= f.label :Tipo %><br>
        <%= f.select :genus, [ ['Laser Monocromatica'], ['Laser Color'], ['Injeccion de Tinta'], ['Matricial'] ], 
          {include_blank: true}, {class:'btn  dropdown-toggle smfont'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-md">       
          <%= f.label :Compra %><br>
          <%= f.date_select :buy_date, {:include_blank => true, order: [:day, :month, :year]} %>
      </div>
      <div class="col-xs-10 col-md">
        <%= f.label :Dependencia %><br>
        <%= f.collection_select(:Dependency_id, Dependency.all.order(:name), :id, :name, {include_blank: true}, 
          {class:'btn  dropdown-toggle smfont'}) %>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= f.label :notes %><br>
        <%= f.text_area :notes, size:"50x2", class:'form-control smfont' %>
        <br>
        <%= f.submit %>
      </div>
    </div>
<% end %>
