<p id="notice"><%= notice %></p>
<div class="container be-gray">
  <div class="row">
    <div class="col-xs">
        <p><strong>Numero de Inventario:</strong>
        <%= @printer.ninventary %></p>
        <p><strong>Numero de Serie:</strong>
        <%= @printer.nserie %></p>
        <p><strong>Marca:</strong>
        <%= @printer.brand %></p>
        <p><strong>Modelo:</strong>
        <%= @printer.model %></p>
        <p><strong>ID factura:</strong>
        <%= @printer.nfactura %></p>
        <p><strong>Fecha compra:</strong>
        <%= @printer.buy_date %></p>
        <p><strong>Tipo Impresora:</strong>
        <%= @printer.genus %></p>
        <% if @printer.net %>
          <p><strong>DATOS LAN</strong></p>
          <p>
            <strong>MAC:</strong>
            <%= @printer.net_mac %><br>
            <strong>IP</strong>
            <%= @printer.net_ip %><br>
            <strong>MASK</strong>
            <%= @printer.net_mask %>
          </p>
        <% end %>
        <% if @printer.wifi %>
          <p><strong>DATOS WIFI</strong></p>
          <p>
            <strong>MAC:</strong>
            <%= @printer.wifi_mac %><br>
            <strong>IP</strong>
            <%= @printer.wifi_ip %><br>
            <strong>MASK</strong>
            <%= @printer.wifi_mask %>
          </p>
        <% end %>
        <p><strong>Notas:</strong>
        <%= @printer.notes %></p>
        <p><strong>Dependencia:</strong>
        <%= @printer.Dependency.name if  @printer.Dependency %></p>
     </div>
  </div>
  <%= render partial:'layouts/user_mod', locals:{:entity => @printer} %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-right">
        <br>
        <%= link_to 'Editar', edit_printer_path(@printer), class:'btn btn-default btn-lg' %> |
        <%= link_to 'Regresar', printers_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>