<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs">
      <div class="box">
        <strong>Numero de Inventario:</strong>
        <%= @power.ninventary %>
      </div>
      <div class="box">
        <strong>Numero de Serie:</strong>
        <%= @power.nserie %>
      </div>
      <div class="box">
        <strong>Marca:</strong>
        <%= @power.brand %>
      </div>
      <div class="box">
         <strong>Modelo:</strong>
        <%= @power.model %>
      </div>
      <div class="box">
        <strong>ID factura:</strong>
        <%= @power.nfactura %>
      </div>
      <div class="box">
        <strong>Fecha compra:</strong>
        <%= @power.buy_date %>
      </div>
      <div class="box">
        <strong>Tipo Impresora:</strong>
        <%= @printer.genus %>
      </div>
      <div class="box">
        <strong>Notas:</strong>
        <%= @printer.notes %>
      </div>
      <div class="box">
        <strong>Dependency:</strong>
        <%= @printer.Dependency %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Editar', edit_printer_path(@printer) %> |
<%= link_to 'Regresar', printers_path %>
