<%= form_for(@common_error) do |f| %>
  <% if @common_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common_error.errors.count, "error") %> prohibited this common_error from being saved:</h2>

      <ul>
      <% @common_error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4 be-soft_gray">
        <%= f.label :descripcion %><br>
        <%= f.text_field :description, class:'form-control smfont dte' %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs col-md-4 be-soft_gray">
        <br>
        <%= f.submit  class:'btn btn-default  btn-sm ' %>
        <br>
      </div>
    </div>
  </div>
<% end %>
