<div class="container-fluid large-padding">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p id="notice"><%= notice %></p>
      <h1>Catalogo Errores Comunes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <span class="pull-left">
        <%= will_paginate(@common_errors) %>
      </span>
    </div>
    <div class="col-xs-6 col-md-6">
      <span class="pull-right">
        <%= link_to 'Agregar', new_common_error_path, class:'btn btn-default btn-lg ' %>
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs col-md-5">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Descripcion</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @common_errors.each do |common_error| %>
              <tr>
                <td align="center"><%= common_error.description %></td>
                <td><%= link_to 'Editar', edit_common_error_path(common_error), class:'btn btn-default btn-sm' %></td>
                <td><%= link_to 'Borrar', common_error, method: :delete, data: { confirm: 'Esta usted seguro?' }, 
                  class:'btn btn-default btn-sm' %></td>
             </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>