<p id="notice"><%= notice %></p>

<h1>Listing Common Errors</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @common_errors.each do |common_error| %>
      <tr>
        <td><%= common_error.description %></td>
        <td><%= link_to 'Show', common_error %></td>
        <td><%= link_to 'Edit', edit_common_error_path(common_error) %></td>
        <td><%= link_to 'Destroy', common_error, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Common error', new_common_error_path %>
