<%= form_for(@officev) do |f| %>
  <% if @officev.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@officev.errors.count, "error") %> prohibited this officev from being saved:</h2>

      <ul>
      <% @officev.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container smfont">
    <div class="row be-round_ligth_gray large-padding">
      <div class="col-xs-8 col-md-4">
        <%= f.label :Nombre %><br>
        <%= f.text_field :name, class:'form-control' %><%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
