<%= stylesheet_link_tag 'reports', media: 'print, screen' %>
<%= stylesheet_link_tag 'flexboxgrid', media: 'print, screen' %>
	<div class="row be-blue">
		<div class="col-lg be-gray">
			<%= image_tag("logodire.png", size: "100", align: "middle") %>
		</div>		
		<div class="col-lg be-blue">
			<%= image_tag("direccion.png", width: '290', height: '45') %>
			<div class="row be-blue">
			
		<div class="col-lg be-gray">
			<p style="font-size: 30px; font-family: Verdana; color: gray;">SOLICITUD DE SERVICIO</p>			
		</div>
		</div>
		</div>
	</div>

<!--
 	<table>
 	 	 	<td style="padding: 10px;">
 	 	 	 	<%= image_tag("logodire.png", size: "80", align: "middle") %>
 	 	 	</td>
 	 	 	<td style="padding: 10px;"> 	 	 	 	
 	 	 	 	<p style="font-size: 14px; font-family: Verdana; color: gray;">SOLICITUD DE SERVICIO</p>
 	 	 	</td>
 	 	 	<td style="padding: 10px;">
 	 	 	 	<%= image_tag("direccion.png", width: '290', height: '45') %>
 	 	 	</td>
 	</table>
</div>
<div>
 	<table>
 	 	<td style="font-family: Calibri">
 	 	 	PRIORIDAD:
 	 	</td>
 	 	<td style="font-family: Verdana; font-size: 10px">
 	 	 	URGENTE-ATENDER LA SIGUIENTE SOLICITUD DE MANERA INMEDIATA!
 	 	</td>
 	 	<td style="font-family: Calibri">
 	 	 	FECHA:
 	 	</td>
 	 	<td style="font-family: Verdana; font-size: 10px">
 	 	 	<%= Time.now.strftime("%m/%d/%Y") %>
 	 	</td>
 	 	<td style="font-family: Calibri font-size: 10px">
 	 	 	FOLIO: 000100-CSL
 	 	</td>
 	</table>
 	
</div>
-->
<!--
<div style = "height:100px; width:100px; background-color:#eeeeee;">
 	<%= image_tag("logodire.png", size: "100", align: "middle") %>
</div>
<div style = "color:white; text-align:center;"> 
 	<%= image_tag("direccion.png", width: '290', height: '45') %>
</div>
-->