<%= form_for(@memo) do |f| %>
  <% if @memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container smfont large-padding">
    <div class="row ">
      <div class="col-xs-3 col-md-2 smfont be-round_ligth_gray ">
        <%= f.label :Tamaño %><br>
        <%= f.text_field :size, class:'form-control' %>
      </div>
      <div class="col-xs-3 col-md-2 smfont be-round_ligth_gray ">
        <%= f.label :Tipo %><br>
        <%= f.select :msize, [ ['MB'], ['GB'] ], {:include_blank => true}, {class:'btn  dropdown-toggle smfont'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4 be-round_ligth_gray ">
        <br>
        <br>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
