<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado de Memorias</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-md-5">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <th>Tamaño</th>
            <th></th>  
          </thead>
          <tbody>
            <% @memos.each do |memo| %>
              <tr >
                <td><%= memo.combined_value %></td>
                <td>
                  <%#= link_to 'Show', memo %>
                  <%= link_to 'Editar', edit_memo_path(memo), class:'btn btn-default btn-sm' %>
                  <%= link_to 'Borrar', memo, method: :delete, data: { confirm: 'Esta usted seguro?' }, class:'btn btn-default btn-sm' %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs">
      <%= will_paginate(@memos) %>
      <br>
      <%= link_to 'Agregar Memoria', new_memo_path, class:'btn btn-default  btn-lg' %>
    </div>
  </div>
</div>

