<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray large-padding">
	<div class="row">
		<div class="col-xs">
			<p>
			  <strong>Tamaño:</strong>
			  <%= @memo.size %><%=  @memo.msize %>
		</p>
		</div>
	</div>
</div>
<%= link_to 'Editar', edit_memo_path(@memo), class:'btn btn-default  btn-lg' %> |
<%= link_to 'Regresar', memos_path, class:'btn btn-default  btn-lg' %>
