<%= form_for(@consumable) do |f| %>
  <% if @consumable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumable.errors.count, "error") %> No se pudo guardar el consumible:</h2>

      <ul>
      <% @consumable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs">
        <div class="box">
            <%= f.label :Tipo %><br>
            <%= f.select :genus, [ ['CARTUCHO TONER'], ['CARTUCHO INJECCION'], ['CINTA'] ], {}, {:class => 'frms'} %>
        </div>
        <div class="box">
            <%= f.label :Modelo %><br>
            <%= f.text_field :model %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <%= f.submit "Crear consumible" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
