<%= form_for(@consumable) do |f| %>
  <% if @consumable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumable.errors.count, "error") %> No se pudo guardar el consumible:</h2>

      <ul>
      <% @consumable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container large-padding be-round_ligth_gray">
    <div class="row">
      <div class="col-xs col-md-4 col-md-offset-1">
          <%= f.label :Tipo %><br>
          <%= f.select :genus, [ ['CARTUCHO TONER'], ['CARTUCHO INJECCION'], ['CINTA'] ], {include_blank: true}, 
          {class:'btn  dropdown-toggle smfont'} %><br>
      </div>
      <div class="col-xs col-md-4 col-md-offset-1">
        <%= f.label :Modelo %><br>
        <%= f.text_field :model, class:'form-control smfont' %>
      </div>
    </div>
    <div class="row large-padding">
      <div class="col-xs">
        <%= f.submit  %>
      </div>
    </div>
  </div>
<% end %>
