<p id="notice"><%= notice %></p>

<h1>Listado Consumibles</h1>
<div class="container-fluid">
  <div class="row be-soft_red">
    <div class="col-xs-2">
      <div class="box">
        <strong>Tipo</strong>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <strong>Modelo</strong>
      </div>
    </div>
  </div>
  <% @consumables.each do |consumable| %>
    <div class="row <%= cycle('be-soft_gray','odd') %>">
      <div class="col-xs-2">
        <div class="box">
          <%= consumable.genus %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <%= consumable.model %>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <%= link_to 'Mostrar', consumable %> <%= link_to 'Editar', edit_consumable_path(consumable) %> <%= link_to 'Borrar', consumable, method: :delete, data: { confirm: 'Esta seguro?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div>
  <%= will_paginate @consumables %>
  <br>
  <br>
  <%#= link_to 'Agregar Consumible', new_consumable_path %>
  <%= button_to 'Agregar consumible' , new_consumable_path, :method => :get %>
</div>