<div class="container-fluid be-soft_purple large-padding">
  <p id="notice"><%= notice %></p>
  <h1>Listado Consumibles</h1>
</div>
<div class="container-fluid">
  <div class="row be-soft_red">
    <div class="col-xs-2">
      <strong>Tipo</strong>
    </div>
    <div class="col-xs-2">
      <strong>Modelo</strong>
    </div>
  </div>
  <% @consumables.each do |consumable| %>
    <div class="row <%= cycle('be-soft_gray','odd') %>">
      <div class="col-xs-2">
        <%= consumable.genus %>
      </div>
      <div class="col-xs-2">
        <%= consumable.model %>
      </div>
      <div class="col-xs">
        <%= link_to 'Mostrar', consumable, class:'btn btn-default  btn-sm' %> 
        <%= link_to 'Editar', edit_consumable_path(consumable), class:'btn btn-default  btn-sm' %> 
        <%= link_to 'Borrar', consumable, method: :delete, data: { confirm: 'Esta seguro?' }, class:'btn btn-default  btn-sm' %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <%= will_paginate @consumables %>
  <br>
  <br>
  <%= link_to 'Agregar Consumible', new_consumable_path,  class:'btn btn-default  btn-sm' %>
  <%#= button_to 'Agregar consumible' , new_consumable_path, :method => :get ,  class:'btn btn-default  btn-sm'%>
</div>