<p id="notice"><%= notice %></p>
<div class="container-fluid large-padding be-gray ">
	<div class="row ">
		<div class="col-xs-4 ">
			<strong>Tipo:</strong><br>
			<%= @consumable.genus %><br>
			<strong>Modelo:</strong><br>
			<%= @consumable.model %><br>
			<% if @consumable.Copier %>
				<strong>COPIADORA</strong><br>
				<%= @consumable.Copier.model %>
			<% end %>
			<% if @consumable.Printer %>
				<strong>"IMPRESORA"</strong><br>
				<%= @consumable.Printer.model %>
			<% end %>
		</div>
	</div>
</div>
<%= link_to 'Editar', edit_consumable_path(@consumable), class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', consumables_path, class:'btn btn-default btn-lg' %>
