<!DOCTYPE html>
<html>
<head>
  <title>ActiveInventory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="large-padding be-gray">
         	 	<% if logged_in? %>
         	 	  <div style='float: right;'>
         	 	    Logged in as <%= current_user.username %> |
         	 	    <%= link_to "Logout", logout_path, method: :delete %> 
         	 	  </div>  
         	 	<% end %>
         	 	<% flash.each do |key, value| %>
         	 	   	<p id='<%= key %>'><%= value %></p>
         	 	<% end %>
         	 	<%= logged_in? %>
         	    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row be-blue white large-padding">
        <div class="col-sm">
            <div class="box"><%= link_to 'INICIO', root_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'DEPENDENCIAS', dependencies_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'USUARIOS', workers_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'NETWORKS', networks_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'COMPUTADORAS', computers_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'MONITORES', screens_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'UPS/REGULADORES', powers_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'IMPRESORAS', printers_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'COPIADORAS', copiers_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'ESTADISTICAS', statistics_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'CONSUMIBLES', consumables_path %></div>
        </div>
        <div class="col-sm">
            <div class="box"><%= link_to 'TELEFONIA', telephones_path %></div>
        </div>    
    </div> 	

<%= yield %>

</body>
</html>
